{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Partners{% endblock title %}
{% block main %}
    <main role="main" class="container shadow">
  <div class="container card-header shadow bg-secondary mb-3">
      <h6 class="text-white text-center display-4">All Partners</h6>
  </div>
        {% if partners.object_list.count > 0 %}
        {% for partner in partners.object_list %}
            <div class="card mb-3">
            <div class="card-body">
                <p class="text display-4 font-weight-normal" style="font-size: x-large">
        <a href="{% url 'profile' partner.user_detail.id %}"
           class="d-block text-gray-dark card-link "><span>
            <img src="{% if partner.icon.url != '/media/' %}{{ partner.icon.url }}{% else %}{% static 'seek/images/profile.png' %}{% endif %}"
                 style="border-radius: 50px" class="img img-thumbnail " width="100px" height="100px">
        </span>{{ partner.user_detail.first_name }} {{ partner.user_detail.last_name }}</a>
      </p>
            </div>
            <div class="card-footer">
                <span class="text text-muted ml-3"><strong>Corporation: </strong> {{ partner.corporate_name }}</span>
                <span class="text text-muted ml-3"><strong>Specialization:</strong> {{ partner.specialization }}</span>
            </div>
            </div>
    {% endfor %}
     <div class="card-footer bg-light text-warning  text-center display-4 pagination pagination-centered">
    <span class="step-links font-weight-normal text-center" style="font-size: x-large">
     {% if partners.has_other_pages %}
            {% if partners.has_previous %}
              <a href="{% url 'all_partners' partners.previous_page_number %}">Previous</a>
            {% else %}
              <span>Previous</span>
            {% endif %}
            {% for i in partners.paginator.page_range %}
              {% if partners.number == i %}
                <span>{{ i }} <span class="sr-only">(current)</span></span>
              {% else %}
                <a href="{% url 'all_partners' i %}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if partners.has_next %}
              <a href="{% url 'all_partners' partners.next_page_number %}">Next</a>
            {% else %}
              <span>Next</span>
            {% endif %}
    {% endif %}
          </span>
         </div>
    {% else %}
    <p class="text text-center display-4 mt-3" style="font-size: xx-large">No Cooperatives Yet</p>
    {% endif %}

</main>

{% endblock main %}
