{%extends 'index.html' %}
{% load staticfiles %}
{% block javascript %}
{% endblock javascript %}
{% block status %}{{ status }}{% endblock %}
{% block error %}{{ message }}{% endblock %}
{% block title %}Be a Partner{% endblock title %}
{% block main %}
<main class="container">
    <div class="container">
	   <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-8 jumbotron">
           <div class="bg-light p-3 mb-3">
           <h2 class="text text-center display-4" style="font-size: xx-large">Be a Partner Today</h2>
           </div>
                <form class="form form-control bg-light p-3" action="{% url 'be_partner' %}" method="post">
                {% csrf_token %}
          <div class="row mb-2">
                <div class="col-md-12">
                    <input placeholder="Corporate Name" type="text" path="corp" name="corp_name" class="form-control input-sm" required />
                </div>
         </div>
        <div class="row mb-2">
                <div class="col-md-12">
                    <input placeholder="Website" type="url" path="web" name="web" class="form-control input-sm" required />
                </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                    <select   path="Institution"   id ="spec" name="spec" class="form-control input-sm" required >
                        <option value="">Select Specialization</option>
                        {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                     </select>
                </div>
        </div>
        <div class="row mb-2">
                <div class="col-md-12 sm_1">
                        <textarea placeholder="biography" class="text form-control "  cols="80" rows="10" name="bio" required="required">Write About yourself </textarea>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Join" class="btn btn-block btn-info">
            </div>
        </div>
    </form>
           </div>
           <div class="col-md-2"></div>
    </div>
 </div>
</main>
{% endblock main %}
