{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Partner Dashboard{% endblock title %}
{% block main %}
<div class="banner_1">
	<div class="container">
		<div id="search_wrapper1">
		   <div id="search_form" class="clearfix">
		    <h1>Find a Partner</h1>
		    <p>
			 <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
			 <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
			 <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search"></label>
			</p>
           </div>
		</div>
   </div>
</div>
<div class="container">
    <div class="single">
	 <div class="col-md-12 single_right">
	      <div class="but_list">
	       <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
			  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Profile Information</a></li>
			  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Your Posts</a></li>
			</ul>
		<div id="myTabContent" class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
              <div class="col-sm-12 follow_left">
			<h3>Profile Details</h3>
             <div class="jobs_follow jobs-single-item">
				<div class="thumb"><img src="{{ partner.image.url }}" class="img-responsive" alt=""/></div>
				<div class="thumb_right">
				<h6 class="title"><a href="#">{{ partner.corporate_name }}</a></h6>
				<span class="meta">{{ partner.website }}</span>
				<ul class="top-btns inline list-group">
                    {% for tag in partner.tags %}
					<li class="list-group-item">{{ tag }}</li>
                    {% enfor %}
				</ul>
				<p>{{ partner.biography }}</p>
                <hr>
				<!-- Modal -->
				<div class="modal fade" id="applyModal" tabhome="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
				  	<div class="modal-dialog">
				    	<div class="modal-content">
					      	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					        	<h4 class="modal-title" id="myModalLabel">Apply for this job</h4>
					      	</div>
	                        <div class="modal-body">
					          Before you apply you have to login as a candidate
					          <p><a href="{% url 'login'%}">Log in</a></p>
					      	</div>
				    	</div>
				  	</div>
				</div>
	            <ul class="social-icons pull-right">
					<li><span>Share : </span></li>
					<li><a href="#" class="fa fa-facebook" target="_blank"></a></li>
					<li><a href="#" class="fa fa-twitter" target="_blank"></a></li>
					<li><a href="#" class="fa fa-google-plus" target="_blank"></a></li>
				</ul>
				<div class="clearfix"> </div>
		    </div>
		   <div class="clearfix"> </div>
		   </div>
	    </div>
                <div class = "col-sm-12 follow_left">
		    <div class="form-container">
        <h2>Update Profile Details</h2>
           <div class="col-md-2"></div>
           <div class="col-md-8">
                   <form>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="corporate">Corporate Name</label>
                <div class="col-md-9">
                    <input type="text" path="corp" name="corp_name" class="form-control input-sm"/>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="web">Website</label>
                <div class="col-md-9">
                    <input type="url" path="web" name="web" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="spec">Specialization</label>
                <div class="col-md-9">
                    <select  multiple="multiple" aria-multiselectable="true" path="Institution"   id ="spec" name="spec" class="form-control input-sm">
                        <option value="">Select Specialization</option>
                        {% for tag in tags %}
                        <option value={{ tag.id }}>{{ tag.name }}</option>
                        {% endfor %}
                     </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="country">Education</label>
                <div class="col-md-9">
                    <select path="country" id="country" class="form-control input-sm">
                        <option value="">Select</option>
                        <option value="">Bsc</option>
                        <option value="">BTech</option>
                        <option value="">Mca</option>
                        <option value="">BCA</option>
                        <option value="">Diploma</option>
                        <option value="">Other</option>
                    </select>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="subjects">Biography</label>
                <div class="col-md-9 sm_1">
                   <textarea class="text form-control "  rows="10" name="bio" required="required"> </textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions floatRight mt-0">
                <input type="submit" value="Update" class="btn btn-warning btn-lg">
            </div>
        </div>
    </form>
               </div>
           <div class="col-md-2"></div>
    </div>
        </div>
          </div>
		  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
              {% for post in posts %}
                  <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a><span class="m_1">{{ post.date_posted }}</span></h6>
			    	 div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              {% endfor %}
		     </div>
		  </div>
	  </div>
     </div>
    </div>
   </div>
  <div class="clearfix"> </div>
 </div>
{% endblock main %}