{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}{{ partner.institution }}{% endblock title %}
{% block main %}
    <main role="main">

  <section class="text-center" >
    <div class="container col-sm-12 jumbotron">
    <h1 class="jumbotron-heading display-2" >{{ partner.institution }}</h1>
    <p class="lead display-1" style="font-size: xx-large"><strong>Specialization: {{ partner.format_specialization }}</strong></p>
    <p class="lead display-1" style="font-size: x-large">{{ partner.biography }}</p>
        <img class="img img-thumbnail" style="border-radius: 100%" height="200" width="200"
                src="{% if  partner.icon %} {{ partner.icon.url }}{% else %}{% static 'seek/images/icon.jpg' %}{% endif %}">
      <p>
        <a href="{{ partner.website }}" class="btn btn-outline-info my-2 ">Visit our Website</a>
        <a href="mailto:{{ partner.user_detail.email }}" class="btn btn-outline-info my-2">Contact Us Via Email</a>
      </p>
    </div>
  </section>

  <div class="album py-5 jumbotron">
    <div class="container">
        <div class="col-sm-12 bg-white p-2">
                    <div class="container justify-content-center bg-light">
                        <h6 class="text text-center display-4"
                            style="font-size: x-large; color: #f1ac17"><strong>Personal Information</strong></h6>
                    <hr/>
                    </div>
                    <div class="row container justify-content-center bg-light p-3">
                        <div class="col-sm-8 p-2">
                            <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #f1ac17">Name :</strong> {{ partner.user_detail.first_name }} {{ partner.user_detail.last_name }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #f1ac17">Age :</strong> {{ partner.user_detail.user_age }} Years Old</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #f1ac17">Phone :</strong> {{ partner.user_detail.phone_no }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #f1ac17">Email :</strong> {{ partner.user_detail.email }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #f1ac17">Location :</strong> {{ partner.user_detail.location }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #f1ac17">Area of Interest :</strong> {{ partner.user_detail.specialization }}</p>
                        </div>
                        <div class="col-sm-4 p-2">
                            <img src="{% if partner.user_detail.image %}{{ partner.user_detail.image.url }}{% else %}{% static 'seek/images/banner.jpg' %}{% endif %}" class="img img-thumbnail">
                        </div>

                     </div>
                </div>

    </div>
  </div>

</main>

{% endblock main %}
