{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Partner details{% endblock title %}
{% block main %}
<div class="banner_1">
	<div class="container">
		<div id="search_wrapper1">
		   <div id="search_form" class="clearfix">
		    <p>
			 <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
			 <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
			 <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Find Jobs"></label>
			</p>
           </div>
		</div>
   </div>
</div>
<div class="container">
    <div class="single">
	 <div class="col-md-8 single_right">
	      <h3>{{ partner.corporate_name }}</h3>
	      <div class="row_1">
	      	<div class="col-sm-5 single_img">
	      		<img src="{{ partner.image.url }}" class="img-responsive" alt=""/>
	      	</div>
	      	<div class="col-sm-7 single-para">
	      		<ul class="inline">
                    {% for tag in tag_list %}
                        <li class="list list-group-item m-2">{{ tag }}</li>
                    {% endfor %}
                </ul>
	      	</div>
          <p class="text text-justify">{{ partner.biography }} </p>
	      	<div class="clearfix"> </div>
	      </div>

		  <form>
			<div class="to">
             	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
			 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:3%">
			</div>
			<div class="text">
               <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
            </div>
            <div class="form-submit1">
	           <input name="submit" type="submit" id="submit" value="Submit"><br>
	        </div>
			<div class="clearfix"></div>
          </form>
	   </div>
        <div class="col-md-4">
	   	  <div class="col_3">
	   	  	<h3>Other Partners</h3>
	   	  	<ul class="list_1">
                {% for peeps in partners %}
                    <li><a href="{% url 'partner_detail' peeps.id %}">{{ peeps.corporate_name }}</a></li>
                {% endfor %}
	   	  	</ul>
	   	  </div>
	 </div>
	   <div class="clearfix"> </div>
	 </div>
</div>
{% endblock main %}
