{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Add Loan{% endblock title %}
{% block error %}{{ message }}{% endblock %}
 {% block status %}{{ status }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 jumbotron">
                   <div class="container bg-light p-2 mb-2">
                   <h2 class="text text-center">Application for Loan</h2>
                   </div>
{#        this form is to request a loan from your cooperative#}
                        <form action="{% url 'add_loan' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form-group m-1 mb-2">
                            <input type="Number"  placeholder="Amount" name="amt" oninput="valid_number(this.value, 'loan')" class="form-control input-sm" required="required"/>
                            <small id="loan_amount_small"></small>
                        </div>
                        <div class="row form-group m-1 mb-2">
                            <textarea type="text"  id="editor" rows="10" cols="100" name="purpose"
                                      class="form-control input-sm" required="required" >Why do you need this Loan?</textarea>
                        </div>
                        <div class="row form-group m-1 mb-2">
                            <select class="form-control" name="bank" title="Bank" oninput="check_bank('{{ user.bank }}',this.value)">
                                <option selected value="">Select Bank</option>
                                {% for bank in banks %}
                                    <option value="{{ bank }}">{{ bank }}</option>
                                {% endfor %}
                            </select>
                            <small id="loan_bank_small"></small>
                        </div>
                        <div class="row form-group m-1 mb-2">
                            <input type="text" placeholder="Account Name" oninput="check_account_name('{{ user.account_name }}', this.value)" name="acct_name" class="form-control input-sm" required="required"/>
                            <small id="loan_acct_name_small"></small>
                        </div>
                        <div class="row form-group m-1 mb-2">
                            <input type="text" placeholder="Account Number" oninput="check_account_number('{{ user.account_number }}', this.value)" name="acct_number" class="form-control input-sm" required="required"/>
                            <small id="loan_acct_num_small"></small>
                        </div>

                        <div class="row form-group m-1 mb-2">
                            <a  onclick="
                            var attach = document.createElement('div');
                            attach.setAttribute('class','row mb-3  p-3 rounded bg-light');
                            var node= document.createElement('input');
                            node.setAttribute('type','file');
                            var t = document.getElementById('attachments').childElementCount;
                            attach.setAttribute('id','attachment'+t);
                            node.setAttribute('name','collateral'+t);
                            node.setAttribute('class','col-8');
                            node.setAttribute('accept','image/jpeg');
                            var col_title = document.createElement('input');
                            col_title.setAttribute('type','text');
                            col_title.setAttribute('Placeholder','Name of Collateral');
                            col_title.setAttribute('class','col-sm-12 form-control input-sm p-2 mb-2');
                            col_title.setAttribute('name', 'col_title_'+t);
                            var del_btn = document.createElement('a');
                            del_btn.setAttribute('class', 'card-link ml-auto mt-0 mb-1');
                            del_btn.setAttribute('onclick', 'document.getElementById(\'attachment\'+this.id).remove();');
                            del_btn.setAttribute('id', t);
                            del_btn.setAttribute('href','javascript:{document.getElementById(\'attachment\'+this.id).remove();}');
                            del_btn.innerText = 'x';
                            attach.appendChild(del_btn);
                            attach.appendChild(col_title);
                            attach.appendChild(node);
                            document.getElementById('attachments').appendChild(attach);"

                                 class="btn btn-outline-info mr-auto" >
                                       <span>Add Collateral Files</span>
                                    <i class="fa fa-file tw"></i>
                                </a>
                        </div>
                        <div class="row form-group m-1 mb-2">
                          <div id="attachments" class="container">
                          </div>
                        </div>
                            <div class="row form-group m-1 mb-2">
                            <input id="loan_submit" type="submit" value="Send Request" style=" background:cornflowerblue;" class="btn btn btn-lg btn-block">
                        </div>

            </form>
                       </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block footer %}fixed-bottom{% endblock %}