{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Loans{% endblock title %}
{% block main %}
    <div class="container-fluid bg-light" id="my_loans">
          <!-- Page Heading -->
          <div class="row display-4 text-center shadow-sm bg-secondary p-3 mb-3" style="font-size: xx-large">
              <div class="col-sm-6"><p id="my_loan_title_" class="font-weight-normal ml-5">All Loans</p>
              </div>
              <div class="col-sm-6"><a href="{% url 'add_loan' %}" class="btn btn-info btn-sm">
                <i class="fas fa-edit fa-sm text-white-50"></i> Request Loan</a></div>
              </div>
        <hr/>

{#        This displays a list of all new loan requests in a cooperative  #}
            <div id="new_loans_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All New Loans</p>
              </div>
              <div class="card-body">
                 {% if coop.all_new_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in coop.all_new_loans %}
                              <tr role="row" class="odd">
                                <td>{{ loan.borrower_detail.first_name }}  {{ loan.borrower_detail.last_name }}</td>
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ loan.borrower_detail.bank }}</td>
                                    <td>{{ loan.borrower_detail.account_name }}</td>
                                    <td>{{ loan.borrower_detail.account_number }}</td>
                                    <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No New Loan</h4>
                        {% endif %}
                    </div>
              </div>

{#        This displays a list of all cooperative loans that have been paid by the borrower   #}
            <div id="paid_loans_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Paid Loans</p>
              </div>
              <div class="card-body">
                 {% if coop.all_paid_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in coop.all_paid_loans %}
                              <tr role="row" class="odd">
                                <td>{{ loan.borrower_detail.first_name }}  {{ loan.borrower_detail.last_name }}</td>
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ loan.borrower_detail.bank }}</td>
                                    <td>{{ loan.borrower_detail.account_name }}</td>
                                    <td>{{ loan.borrower_detail.account_number }}</td>
                                    <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No Paid Loan</h4>
                        {% endif %}
                    </div>
              </div>

    {#        This displays a list of all cooperative loans that have not been paid by the borrower   #}
            <div id="unpaid_loans_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Unpaid Loans</p>
              </div>
              <div class="card-body">
                 {% if coop.all_unpaid_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in coop.all_unpaid_loans %}
                              <tr role="row" class="odd">
                                <td>{{ loan.borrower_detail.first_name }}  {{ loan.borrower_detail.last_name }}</td>
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ loan.borrower_detail.bank }}</td>
                                    <td>{{ loan.borrower_detail.account_name }}</td>
                                    <td>{{ loan.borrower_detail.account_number }}</td>
                                    <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No Unpaid Loan</h4>
                        {% endif %}
                    </div>
              </div>

    {#        This displays a list of all cooperative loans requests that was declined   #}
            <div id="declined_loans_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Declined Loans</p>
              </div>
              <div class="card-body">
                 {% if coop.all_declined_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in coop.all_declined_loans %}
                              <tr role="row" class="odd">
                                <td>{{ loan.borrower_detail.first_name }}  {{ loan.borrower_detail.last_name }}</td>
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ loan.borrower_detail.bank }}</td>
                                    <td>{{ loan.borrower_detail.account_name }}</td>
                                    <td>{{ loan.borrower_detail.account_number }}</td>
                                    <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No Declined Loan</h4>
                        {% endif %}
                    </div>
              </div>


      </div>

{% endblock main %}
{% block footer %}fixed-bottom{% endblock %}