{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All New Cooperatives Needs{% endblock title %}
{% block main %}
    <div class="container mb-5">
    <div class="row display-4 text-center  shadow-sm bg-secondary p-3 mb-3" style="font-size: xx-large">
              <div class="col-sm-6"><p id="my_loan_title_" class="font-weight-light text-white ml-5">All Needs</p>
              </div>
              <div class="col-sm-6"><a href="{% url 'add_need' %}" class="btn btn-warning btn-sm">
                <i class="fas fa-edit fa-sm text-white-50"></i> Add Need</a></div>
              </div>{% if user.is_cooperative_member and  user.is_admin %}
    {% endif %}
    {% if needs.object_list.count == 0 %}
        <div class="container card-header center-block text-center col-sm-12 display-4">
            <p class="card-text font-weight-normal" style="font-size: xx-large">No Need</p>
        </div>
    {% else %}
        {% if needs.object_list.count > 0 %}
        {% for need in needs.object_list %}
{#            This shows all cooperative needs  #}
            <div class="card bg-light mb-3">
            <div class="card-header bg-secondary">
                <p class="text-center card-title">
                    <a class="text text-light card-link" href="{% url  'need_detail' coop.name need.id %}">{{ need.title }}</a>
                <span class="text text-warning mr-auto font-weight-strong">{% if user in need.investors %} - Invested{% endif %}</span></p>
            </div>
            <div class="card-body card-text">
                <p><Strong>Purpose: </Strong>{{ need.body }}</p>
                <p><Strong>Amount: </Strong>N{{ need.amount }}</p>
                <p><Strong>Date Needed: </Strong>{{ need.time }}</p>
                <p><Strong>Number of Investments: </Strong><a class="card-link text-dark" href="{% url 'all_investors' need.title 1 %}">{{ need.all_investments.count }}</a></p>
            </div>
            </div>
        {% endfor %}
{#            This is the code for paginating this page  #}
              <div class="card-footer bg-light text-warning  text-center display-4 pagination pagination-centered">
    <span class="step-links font-weight-normal text-center" style="font-size: x-large">
     {% if needs.has_other_pages %}
            {% if needs.has_previous %}
              <a href="{% url 'all_needs' coop.id needs.previous_page_number %}">Previous</a>
            {% else %}
              <span>Previous</span>
            {% endif %}
            {% for i in needs.paginator.page_range %}
              {% if needs.number == i %}
                <span>{{ i }} <span class="sr-only">(current)</span></span>
              {% else %}
                <a href="{% url 'all_needs' coop.id i %}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if needs.has_next %}
              <a href="{% url 'all_needs' coop.id needs.next_page_number %}">Next</a>
            {% else %}
              <span>Next</span>
            {% endif %}
    {% endif %}
          </span>
         </div>

        {% endif %}
    {% endif %}
	</div>

{% endblock main %}
