{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Investments{% endblock title %}
{% block main %}
    <div class="container-fluid bg-light" id="my_Investments">
{#TODO 2: redesign all Investments to see all the categories of Investments and their corresponding links#}
          <!-- Page Heading -->
          <div class="row display-4 text-center shadow-sm bg-secondary p-3 mb-3" style="font-size: xx-large">
              <div class="col-sm-6"><p id="my_Investment_title_" class="font-weight-normal ml-5">All Investments</p>
              </div>
              <div class="col-sm-6"><button href="#" class="btn btn-info btn-sm">
                <i class="fas fa-edit fa-sm text-white-50"></i> Request Investment</button></div>
              </div>
        <hr/>


            <div id="paid_Investments_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All UnVerified Investments</p>
              </div>
              <div class="card-body">
                 {% if coop.all_Investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    <th rowspan="1" colspan="1">Collateral</th>
                                    {% if user_is_cooperative_member and user_is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                        <th rowspan="1" colspan="1">Action</th>
                                    {% endif %}

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in coop.all_Investments %}
                              <tr role="row" class="odd">
                                <td>{{ Investment.borrower_detail.first_name }}  {{ Investment.borrower_detail.last_name }}</td>
                                <td>N{{Investment.amount}}</td>
                                <td>{{ Investment.time_asked }}</td>
                                <td>{% for coll in Investment.all_collaterals %}
                                        <a class="card-link" href="{{ coll.document.url }}"> {{ coll.title }} </a> {% endfor %}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ Investment.borrower_detail.bank }}</td>
                                    <td>{{ Investment.borrower_detail.account_name }}</td>
                                    <td>{{ Investment.borrower_detail.account_number }}</td>
                                    <td><select name="bank" id="action_{{ Investment.id }}" class="form-control input-sm required">
                                        <option value=1>Validate</option>
                                        <option value=0>Invalidate</option>
                                    </select><span><a id="action_btn_{{ Investment.id }}" class="btn btn-info" href="javascript:{
                                    const b = Number(document.getElementById('action_{{ Investment.id }}').getAttribute('value'));
                                    $.ajax({
                                        type: 'GET',
                                        url: '{% url 'validate_Investment' %}',
                                        data: {'id': {{ Investment.id }}, 'value': b},
                                        success: function() {
                                        document.getElementById('action_{{ Investment_id }}').hidden = true;
                                        const c = document.getElementById('action_btn_{{ Investment.id }}');
                                        if (b === 1){
                                            c.setAttribute('class','btn btn-success btn-lg disabled');
                                            c.innerText = 'Validated';
                                       }else if (b === 0){
                                            c.setAttribute('class','btn btn-success btn-lg disabled');
                                            c.innerText = 'Invalidated';
                                        }
                                        }
                                        })}">Go</a></span></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No New Investment</h4>
                        {% endif %}
                    </div>
              </div>

            <div id="paid_Investments_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Paid Investments</p>
              </div>
              <div class="card-body">
                 {% if coop.all_Investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    <th rowspan="1" colspan="1">Collateral</th>
                                    {% if user_is_cooperative_member and user_is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                        <th rowspan="1" colspan="1">Action</th>
                                    {% endif %}

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in coop.all_Investments %}
                              <tr role="row" class="odd">
                                <td>{{ Investment.borrower_detail.first_name }}  {{ Investment.borrower_detail.last_name }}</td>
                                <td>N{{Investment.amount}}</td>
                                <td>{{ Investment.time_asked }}</td>
                                <td>{% for coll in Investment.all_collaterals %}
                                        <a class="card-link" href="{{ coll.document.url }}"> {{ coll.title }} </a> {% endfor %}</td>
                                {% if user.is_cooperative_member and user_is_admin %}
                                    <td>{{ Investment.borrower_detail.bank }}</td>
                                    <td>{{ Investment.borrower_detail.account_name }}</td>
                                    <td>{{ Investment.borrower_detail.account_number }}</td>
                                    <td><select name="bank" id="action_{{ Investment.id }}" class="form-control input-sm required">
                                        <option value=1>Validate</option>
                                        <option value=0>Invalidate</option>
                                    </select><span><a id="action_btn_{{ Investment.id }}" class="btn btn-info" href="javascript:{
                                    const b = Number(document.getElementById('action_{{ Investment.id }}').getAttribute('value'));
                                    $.ajax({
                                        type: 'GET',
                                        url: '{% url 'validate_Investment' %}',
                                        data: {'id': {{ Investment.id }}, 'value': b},
                                        success: function() {
                                        document.getElementById('action_{{ Investment_id }}').hidden = true;
                                        const c = document.getElementById('action_btn_{{ Investment.id }}');
                                        if (b === 1){
                                            c.setAttribute('class','btn btn-success btn-lg disabled');
                                            c.innerText = 'Validated';
                                       }else if (b === 0){
                                            c.setAttribute('class','btn btn-success btn-lg disabled');
                                            c.innerText = 'Invalidated';
                                        }
                                        }
                                        })}">Go</a></span></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No New Investment</h4>
                        {% endif %}
                    </div>
              </div>

            <div id="paid_Investments_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Unpaid Investments</p>
              </div>
              <div class="card-body">
                 {% if coop.all_Investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Borrower</th>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    <th rowspan="1" colspan="1">Collateral</th>
                                    {% if user_is_cooperative_member and user_is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                        <th rowspan="1" colspan="1">Action</th>
                                    {% endif %}

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in coop.all_Investments %}
                              <tr role="row" class="odd">
                                <td>{{ Investment.borrower_detail.first_name }}  {{ Investment.borrower_detail.last_name }}</td>
                                <td>N{{Investment.amount}}</td>
                                <td>{{ Investment.time_asked }}</td>
                                <td>{% for coll in Investment.all_collaterals %}
                                        <a class="card-link" href="{{ coll.document.url }}"> {{ coll.title }} </a> {% endfor %}</td>
                                {% if user.is_cooperative_member and user_is_admin %}
                                    <td>{{ Investment.borrower_detail.bank }}</td>
                                    <td>{{ Investment.borrower_detail.account_name }}</td>
                                    <td>{{ Investment.borrower_detail.account_number }}</td>
                                    <td><select name="bank" id="action_{{ Investment.id }}" class="form-control input-sm required">
                                        <option value=1>Validate</option>
                                        <option value=0>Invalidate</option>
                                    </select><span><a id="action_btn_{{ Investment.id }}" class="btn btn-info" href="javascript:{
                                    const b = Number(document.getElementById('action_{{ Investment.id }}').getAttribute('value'));
                                    $.ajax({
                                        type: 'GET',
                                        url: '{% url 'validate_Investment' %}',
                                        data: {'id': {{ Investment.id }}, 'value': b},
                                        success: function() {
                                        document.getElementById('action_{{ Investment_id }}').hidden = true;
                                        const c = document.getElementById('action_btn_{{ Investment.id }}');
                                        if (b === 1){
                                            c.setAttribute('class','btn btn-success btn-lg disabled');
                                            c.innerText = 'Validated';
                                       }else if (b === 0){
                                            c.setAttribute('class','btn btn-success btn-lg disabled');
                                            c.innerText = 'Invalidated';
                                        }
                                        }
                                        })}">Go</a></span></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No New Investment</h4>
                        {% endif %}
                    </div>
              </div>


      </div>

{% endblock main %}
