{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Investments{% endblock title %}
{% block main %}
    <div class="container-fluid bg-light" id="my_Investments">
          <!-- Page Heading -->
          <div class="row display-4 text-center shadow-sm bg-secondary p-3 mb-3" style="font-size: xx-large">
              <div class="col-sm-12"><p id="my_Investment_title_" class="font-weight-normal ml-5">All Investments</p>
              </div>
              </div>
        <hr/>

{#            This displays a list of all new investments in a cooperative #}
            <div id="new_Investments_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All New Investments</p>
              </div>
              <div class="card-body">
                 {% if coop.all_new_investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Investor</th>
                                    <th rowspan="1" colspan="1">Time of Investment</th>
                                    <th rowspan="1" colspan="1">Need Invested for</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in coop.all_new_investments %}
                              <tr role="row" class="odd">
                                <td>{{ Investment.investor_detail.first_name }}  {{ Investment.investor_detail.last_name }}</td>
                                <td>{{ Investment.time }}</td>
                                <td>{{ Investment.need }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ Investment.investor_detail.bank }}</td>
                                    <td>{{ Investment.investor_detail.account_name }}</td>
                                    <td>{{ Investment.investor_detail.account_number }}</td>
                                    <td><a href="{% url 'investment_detail' coop.name Investment.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No New Investment</h4>
                        {% endif %}
                    </div>
              </div>
{#            This displays a list of all verified investments in a cooperative #}
            <div id="verified_Investments_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Verified Investments</p>
              </div>
              <div class="card-body">
                 {% if coop.all_verified_investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Investor</th>
                                    <th rowspan="1" colspan="1">Time of Investment</th>
                                    <th rowspan="1" colspan="1">Need Invested For</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in coop.all_verified_investments %}
                              <tr role="row" class="odd">
                                <td>{{ Investment.investor_detail.first_name }}  {{ Investment.investor_detail.last_name }}</td>
                                <td>{{ Investment.time }}</td>
                                <td>{{ Investment.need }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ Investment.investor_detail.bank }}</td>
                                    <td>{{ Investment.investor_detail.account_name }}</td>
                                    <td>{{ Investment.investor_detail.account_number }}</td>
                                    <td><a href="{% url 'investment_detail' coop.name Investment.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No Verified Investment</h4>
                        {% endif %}
                    </div>
              </div>
{#            This displays a list of all invalid investments in a cooperative #}
            <div id="invalid_Investments_" class="card bg-light shadow-lg display-4 mb-3">
              <div class="card-header bg-secondary">
                  <p class="card-title card-text text-center font-weight-normal" style="font-size: xx-large;">All Invalid Investments</p>
              </div>
              <div class="card-body">
                 {% if coop.all_false_investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Investor</th>
                                    <th rowspan="1" colspan="1">Time of Investment</th>
                                    <th rowspan="1" colspan="1">Need Invested For</th>
                                    {% if user.is_cooperative_member and user.is_admin %}
                                        <th rowspan="1" colspan="1">Bank</th>
                                        <th rowspan="1" colspan="1">Account Name</th>
                                        <th rowspan="1" colspan="1">Account Number</th>
                                    {% endif %}
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in coop.all_false_investments %}
                              <tr role="row" class="odd">
                                <td>{{ Investment.investor_detail.first_name }}  {{ Investment.investor_detail.last_name }}</td>
                                <td>{{ Investment.time }}</td>
                                <td>{{ Investment.need }}</td>
                                {% if user.is_cooperative_member and user.is_admin %}
                                    <td>{{ Investment.investor_detail.bank }}</td>
                                    <td>{{ Investment.investor_detail.account_name }}</td>
                                    <td>{{ Investment.investor_detail.account_number }}</td>
                                    <td><a href="{% url 'investment_detail' coop.name Investment.id %}">Click here for full details</a></td>
                                {% endif %}
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">No Verified Investment</h4>
                        {% endif %}
                    </div>
              </div>


      </div>

{% endblock main %}
