{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All pages{% endblock title %}
{% block main %}
    <main role="main" class="container">
  <div class="container card-header shadow bg-secondary mb-3">
      <h6 class="text-white text-center display-4">All Cooperatives</h6>
  </div>
        {% if pages.object_list.count > 0 %}
        {% for coop in pages.object_list %}
{#            This is the template for a single cooperative info display#}
            <div class="card mb-3">
            <div class="card-body">
                <p class="text display-4 font-weight-normal" style="font-size: x-large">
        <a href="{% url 'coop_detail' coop.id %}"
           class="d-block text-gray-dark card-link "><span>
            <img src="{% if coop.icon.url != '/media/' %}{{ coop.icon.url }}{% else %}{% static 'seek/images/profile.png' %}{% endif %}"
                 style="border-radius: 50px" class="img img-thumbnail " width="100px" height="100px">
        </span>{{ coop.name }} </a>
      </p>
            </div>
            <div class="card-footer">
                <span class="text text-muted ml-3"><strong>Location:</strong> {{ coop.location }}</span>
                <span class="text text-muted ml-3"><strong>Specialization:</strong> {{ coop.Area_of_Specialization }}</span>
            </div>
            </div>
    {% endfor %}
    {% else %}
    <p class="text text-center display-4 mt-3" style="font-size: xx-large">No Cooperatives Yet</p>
    {% endif %}
    {#          This is the code for paginating this page#}
    <div class="card-footer bg-light text-warning  text-center display-4 pagination pagination-centered">
    <span class="step-links font-weight-normal text-center" style="font-size: x-large">
     {% if pages.has_other_pages %}
            {% if pages.has_previous %}
              <a href="{% url 'all_cooperatives' pages.previous_page_number %}">Previous</a>
            {% else %}
              <span>Previous</span>
            {% endif %}
            {% for i in pages.paginator.page_range %}
              {% if pages.number == i %}
                <span>{{ i }} <span class="sr-only">(current)</span></span>
              {% else %}
                <a href="{% url 'all_cooperatives' i %}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if pages.has_next %}
              <a href="{% url 'all_cooperatives' pages.next_page_number %}">Next</a>
            {% else %}
              <span>Next</span>
            {% endif %}
          </span>
         </div>
{% endif %}
             </div>

</main>

{% endblock main %}
