{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All New Cooperatives Needs{% endblock title %}
{% block main %}
    <div class="container mb-5">
    <div class="card-header card-title text-center bg-secondary text-light mb-3">
        <h4>{{ coop.name }} Needs</h4></div>
    {% if user.is_cooperative_member and  user.is_admin %}
    <a href="{% url 'add_need' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-auto"><i class="fas fa-edit fa-sm text-white-50"></i> Add Need</a>
    {% endif %}
    {% if needs.count == 0 %}
        <div class="container center-block col-sm-12">
            <img class="img img-responsive" width="100%" height="100%" src="{% static 'seek/images/banner.jpg' %}">
        </div>
    {% else %}
        {% if needs.count > 0 %}
        {% for need in needs %}
            <div class="card bg-light mb-3">
            <div class="card-header bg-secondary">
                <p class="text-center card-title">
                    <a class="text text-light card-link" href="{% url  'need_detail' coop.name need.id %}">{{ need.title }}</a>
                <span class="text text-warning mr-auto font-weight-strong">{% if user in need.investors %} - Invested{% endif %}</span></p>
            </div>
            <div class="card-body card-text">
                <p><Strong>Purpose: </Strong>{{ need.body }}</p>
                <p><Strong>Amount: </Strong>N{{ need.amount }}</p>
                <p><Strong>Date Needed: </Strong>{{ need.time }}</p>
                <p><Strong>Number of Investments: </Strong><a class="card-link text-dark" href="{% url 'all_investors' need.title %}">{{ need.all_investments.count }}</a></p>
            </div>
            </div>
        {% endfor %}
        {% endif %}
    {% endif %}
	</div>

{% endblock main %}
