{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Members{% endblock title %}
{% block main %}
     <div class="container center-block jumbotron">
        <div class="bg-white p-2 mb-3" style="border-radius: 15px">
            <h6 class="text text-center display-4" style="font-size: xx-large">All Members in {{ coop.name }}</h6>
        </div>
        <div class="mb-3 bg-white">
        {% if members_list.count > 0 %}
        {% for member in members_list %}
            <p class="text p-2 display-4" style="font-size: x-large"><a class="card-link" href="{% url 'profile' member.user_id %}">{{ member.user_detail.username }}</a> </p>
           {% endfor %}
        {% else %}
            <p class="text text-center p-2 display-4" style="font-size: x-large">No members yet</p>
        {% endif %}
        </div>

    </div>
{% endblock %}