{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Membership Requests for {{ coop.name }}{% endblock title %}
{% block error %}{{ message }}{% endblock %}
 {% block status %}{{ status }}{% endblock %}

{% block main %}
    <div class="container mb-5">
    <div class="row display-4 text-center shadow-sm bg-secondary p-3 mb-3" style="font-size: xx-large">
              <div class="col-sm-12">
                  <p id="my_loan_title_" class="font-weight-light text-white ml-5">
                  All Membership Requests for {{ coop.name }}</p>
              </div>
    </div>
    {% if members.object_list.count == 0 %}
        <div class="container card-header center-block text-center col-sm-12 display-4">
            <p class="card-text font-weight-normal" style="font-size: xx-large">No Membership Request</p>
        </div>
    {% else %}
        {% if members.object_list.count > 0 %}
        {% for member in members.object_list %}
{#            This is the template for a single cooperative member  display#}
            <div class="card bg-light mb-3 display-4" style="font-size: x-large">
            <div class="card-header bg-secondary">
                    <a class="text text-warning card-link" href="{% url 'membership_request_detail' coop.name member.id %}">
                        {{ member}}
                    </a>
            </div>
            </div>
        {% endfor %}
            {#          This is the code for paginating this page#}
              <div class="card-footer bg-light text-warning  text-center display-4 pagination pagination-centered">
    <span class="step-links font-weight-normal text-center" style="font-size: x-large">
     {% if members.has_other_pages %}
            {% if members.has_previous %}
              <a href="{% url 'all_members' coop.id members.previous_page_number %}">Previous</a>
            {% else %}
              <span>Previous</span>
            {% endif %}
            {% for i in members.paginator.page_range %}
              {% if members.number == i %}
                <span>{{ i }} <span class="sr-only">(current)</span></span>
              {% else %}
                <a href="{% url 'all_members' coop.id i %}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if members.has_next %}
              <a href="{% url 'all_members' coop.id members.next_page_number %}">Next</a>
            {% else %}
              <span>Next</span>
            {% endif %}
    {% endif %}
          </span>
         </div>
        {% endif %}
    {% endif %}
	</div>

{% endblock main %}