{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}{{ coop.name }}{% endblock title %}
{% block status %}{{ status }}{% endblock %}
{% block error %}{{ message }}{% endblock %}
{% block main %}
    <main role="main">

  <section class="text-center" >
    <div class="container col-sm-12 jumbotron">
    <h1 class="jumbotron-heading display-2" >{{ coop.name }}</h1>
    <p class="lead display-1 font-italic" style="font-size: x-large"><strong>{{ coop.motto }}</strong></p>
        <img class="img img-thumbnail" style="border-radius: 100%" height="200" width="200"
                src="{% if  coop.icon %} {{ coop.icon.url }}{% else %}{% static 'seek/images/banner.jpg' %}{% endif %}">
      <p>
        <a href="{{ coop.website }}" class="btn btn-outline-info my-2 ">Visit our Website</a>
          <a href="javascript:{document.getElementById('be_coop_member').submit() }" class="btn btn-outline-info my-2 ">Join Us</a>
        <a href="mailto:{{ coop.email }}" class="btn btn-outline-info my-2">Contact Us Via Email</a>
      </p>
        <form  id='be_coop_member' method="POST" action="{% url 'join_coop' coop.id %}">
        {% csrf_token %}
        <input type="hidden">
    </form>
    </div>
  </section>

  <div class="album py-5 jumbotron">
    <div class="container">
        <div class="col-sm-12 bg-white p-2">
                    <div class="container justify-content-center bg-light">
                        <h6 class="text text-center display-4"
                            style="font-size: x-large; color: #546c8a"><strong>Cooperative Information</strong></h6>
                    <hr/>
                    </div>
                    <div class="row container justify-content-center bg-light p-3">
                        <div class="col-sm-12 p-2">
                            <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Specialization :</strong><span> {{ coop.Area_of_Specialization }}</span> </p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">About Us :</strong><span>
                        {{ coop.about }}
                        </span></p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Number of Members :</strong><span> {{ coop.all_members.count }}</span></p>

                     </div>
                </div>

    </div>
  </div>

</main>

{% endblock main %}
