{%extends 'index.html' %}
{% load staticfiles %}
{% block error %}{{ message }}{% endblock %}
{% block status %}{{ status }}{% endblock %}
{% block title %}Create a Cooperative{% endblock title %}
{% block main %}
<main class="container">
    <div class="container">
	   <div class="row">
           <div class="col-md-1"></div>
           <div class="col-md-10 jumbotron">
           <div class="bg-light p-3 mb-3">
           <h2 class="text text-center display-4" style="font-size: xx-large">Cooperative Registration Form</h2>
           </div>
{#           This form is filled when someone wants to add a cooperative to the system #}
                <form class="form bg-light p-3" action="{% url 'create_coop' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
          <div class="row mb-2">
                <div class="col-md-12">
                    <input placeholder="Cooperative Name" type="text" name="name"  id="Name" class="form-control input-sm" required/>
                </div>
          </div>
         <div class="row mb-2">
                <div class="col-md-12">
                    <select name="location" id="location" class="form-control input-sm" required>
                    <option value=""> Select Location</option>
                        {% for state in states %}
                            <option value="{{ state }}"> {{ state }} </option>
                        {% endfor %}

        </select>
                </div>
         </div>
         <div class="row mb-2">
                <div class="col-md-12">
                    <input placeholder="Cooperative Official Address" type="text" name="address"  id="address" class="form-control input-sm" required/>
                </div>
          </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <input placeholder="Phone" type="tel" name="phone" id="phone" class="form-control input-sm" required/>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <input placeholder="Email Address" type="email" name="email" id="email" class="form-control input-sm" required/>
            </div>
        </div>
       <div class="row mb-2">
            <div class="col-md-12">
                <input placeholder="Website" type="url" name="website" id="website" class="form-control input-sm" required/>
            </div>
       </div>
       <div class="row mb-2">
            <div class="col-md-12">
                <input placeholder="Motto" type="text" name="motto"  class="form-control input-sm" required/>
            </div>
       </div>

        <div class="row mb-2">
                <div class="col-md-12">
                    <select name="area_of_spec" id="area_of_spec" class="form-control input-sm" required>
                        <option value=""> Select Area of Specialization</option>
                            {% for tag in tags %}
                                <option value="{{ tag }}">{{ tag }}</option>
                            {% endfor %}
                    </select>
                </div>
        </div>

       <div class="row mb-2">
            <div class="col-md-12">
                <select name="bank" id="bank" class="form-control input-sm required">
                    <option value="">Select Bank</option>
                    {% for bank in banks %}
                    <option value="{{ bank }}">{{ bank }}</option>
                    {% endfor %}
                </select>
            </div>
       </div>
       <div class="row mb-2">
            <div class="col-md-12">
                <input placeholder="Bank Account Name" type="text" name="acct_name"  class="form-control input-sm" required/>
            </div>
       </div>
       <div class="row mb-2">
            <div class="col-md-12">
                <input placeholder="Bank Account Number" type="text" name="acct_number" id="acct_number" class="form-control input-sm required"/>
            </div>
       </div>

        <div class="row mb-2">
                <div class="col-md-12 sm_1">
                        <textarea placeholder="Description" class="text form-control "  cols="80" rows="10" name="desc" required="required">Tell us about your cooperative</textarea>
                </div>
        </div>
        <div class="row mb-2">
                <div class="col-md-12">
                    <input title="Cooperative Icon" accept="image/jpeg" type="file" name="icon"   class="form-control input-sm" required/>
                </div>
          </div>
        <div class="row mb-2">
                <div class="col-md-12">
                    <input title="Certificate of Registration" accept="image/jpeg" type="file" name="doc"   class="form-control input-sm" required/>
                </div>
          </div>
        <div class="row mb-2">
                <div class="col-md-12">
                    <input type="submit" value="Register" class="btn btn-info btn-block">
            </div>
        </div>
    </form>
           </div>
           <div class="col-md-1"></div>
        </div>
    </div>
</main>
<br>
{% endblock main %}