{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Create a Cooperative{% endblock title %}
{% block main %}
<div class="container">
    <div class="single">
	   <div class="form-container">
        <h2>Register Form</h2>
           <div class="col-md-2"></div>
           <div class="col-md-8">
                <form>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">Name</label>
                <div class="col-md-9">
                    <input type="text"  id="Name" class="form-control input-sm"/>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="location">Location</label>
                <div class="col-md-9"><select path="location" id="location" class="form-control input-sm">
            <option value=""> Select State</option>
            <option value=""> Abia</option>
            <option value=""> Adamawa</option>
            <option value=""> Akwa Ibom</option>
            <option value=""> Anambra</option>
            <option value=""> Bauchi</option>
            <option value=""> Benue</option>
            <option value=""> Bornu</option>
            <option value=""> Bayelsa</option>
            <option value=""> Cross River</option>
            <option value=""> Delta</option>
            <option value=""> Edo</option>
            <option value=""> Enugu</option>
            <option value=""> Imo</option>
            <option value=""> Jigawa</option>
            <option value=""> Lagos</option>
            <option value=""> Kogi</option>
            <option value=""> Nassarawa</option>
            <option value=""> Gombe</option>
            <option value=""> Kaduna</option>
            <option value=""> Kano</option>
            <option value=""> Kastina</option>
            <option value=""> Kebbi</option>
            <option value=""> Niger</option>
            <option value=""> Ogun</option>
            <option value=""> Ondo</option>
            <option value=""> Osun</option>
            <option value=""> Oyo</option>
            <option value=""> Plateu</option>
            <option value=""> Rivers</option>
            <option value=""> Sokoto</option>
            <option value=""> Taraba</option>
            <option value=""> Yobe</option>
            <option value=""> Zamfara</option>
            <option value=""> Abuja</option>

        </select></div>
            </div>
        </div>
       <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="address">Address</label>
                <div class="col-md-9">
                    <input type="text" path="address" id="address" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Mobile Number</label>
                <div class="col-md-9">
                    <input type="text" path="lastName" id="lastName" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="area_of_spec">Area Of Specialization</label>
                <div class="col-md-9"><select path="area_of_spec" id="area_of_spec" class="form-control input-sm">
            <option value=""> Select Area of Specialization</option>
                    {% for tag in tags %}
                        <option value="">{{ tag }}</option>
                    {% endfor %}

        </select></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="email">Email</label>
                <div class="col-md-9">
                    <input type="text" path="email" id="email" class="form-control input-sm"/>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="website">Website</label>
                <div class="col-md-9">
                    <input type="url" path="website" id="website" class="form-control input-sm"/>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="banner">Banner</label>
                <div class="col-md-9 input-file">
                    <input type="file" typeof="image" path="image" id="banner" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="bank">Bank</label>
                <div class="col-md-9">
                    <select path="bank" id="bank" class="form-control input-sm">
                        <option value="">Select Bank</option>
                        {% for bank in banks %}
                        <option value="">{{ bank }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="acct_name">Account Name</label>
                <div class="col-md-9">
                    <input type="text" path="acct_name" id="acct_name" class="form-control input-sm"/>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="acct_number">Account Number</label>
                <div class="col-md-9">
                    <input type="text" path="acct_number" id="acct_number" class="form-control input-sm"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="subjects">Description</label>
                <div class="col-md-9 sm_1">
                   <textarea cols="77" rows="10" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"> </textarea>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Register" class="btn btn-primary btn-lg">
            </div>
        </div>
    </form>
               </div>
           <div class="col-md-2"></div>
    </div>
 </div>
</div>
<br>
{% endblock main %}