{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Cooperative Dashboard{% endblock title %}
{% block main %}
<div class="banner_1">
	<div class="container">
		<div id="search_wrapper1">
		   <div id="search_form" class="clearfix">
		    <h1>Find a Cooperative</h1>
		    <p>
			 <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
			 <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
			 <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Search"></label>
			</p>
           </div>
		</div>
   </div>
</div>
<div class="container">
<div class="single">
	 <div class="col-md-12 single_right">
	      <div class="but_list">
	       <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
			  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Profile Information</a></li>
			  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Cooperative Posts</a></li>
                <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Cooperative Transactions</a></li>
                <li role="presentation"><a href="#profile2" role="tab" id="profile-tab2" data-toggle="tab" aria-controls="profile2">Cooperative products</a></li>
			</ul>
		<div id="myTabContent" class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
              <div class="col-sm-12 follow_left">
			<h3>Profile Details</h3>
             <div class="jobs_follow jobs-single-item">
				<div class="thumb"><img src="{% static 'seek/images/a1.jpg'%}" class="img-responsive" alt=""/></div>
				<div class="thumb_right">
				<div class="date">30 <span>Jul</span></div>
				<h6 class="title"><a href="#">Lorem Ipsum</a></h6>
				<span class="meta">Northland, New Zealand</span>
				<ul class="top-btns">
					<li>
						<a href="#" class="btn_1 fa fa-star-o icon_2"></a>
					</li>
				</ul>
				<p>Lorem Ipsum</p>
                <hr>
                <a href="#" class="btn btn-default pull-left" data-toggle="modal" data-target="#applyModal">Add to cart</a>

				<!-- Modal -->
				<div class="modal fade" id="applyModal" tabhome="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
				  	<div class="modal-dialog">
				    	<div class="modal-content">
					      	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					        	<h4 class="modal-title" id="myModalLabel">Apply for this job</h4>
					      	</div>
	                        <div class="modal-body">
					          Before you apply you have to login as a candidate
					          <p><a href="{% url 'login'%}">Log in</a></p>
					      	</div>
				    	</div>
				  	</div>
				</div>
	            <ul class="social-icons pull-right">
					<li><span>Share : </span></li>
					<li><a href="#" class="fa fa-facebook" target="_blank"></a></li>
					<li><a href="#" class="fa fa-twitter" target="_blank"></a></li>
					<li><a href="#" class="fa fa-google-plus" target="_blank"></a></li>
				</ul>
				<div class="clearfix"> </div>
		    </div>
		   <div class="clearfix"> </div>
		   </div>
	    </div>
                <div class = "col-sm-12 follow_left">
		    <div class="form-container">
        <h2>Register Form</h2>
           <div class="col-md-2"></div>
           <div class="col-md-8">
                <form>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">First Name</label>
                <div class="col-md-9">
                    <input type="text" path="firstName" id="firstName" class="form-control input-sm"/>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Last Name</label>
                <div class="col-md-9">
                    <input type="text" path="lastName" id="lastName" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Mobile Number</label>
                <div class="col-md-9">
                    <input type="text" path="lastName" id="lastName" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="sex">Sex</label>
                <div class="col-md-9" class="form-control input-sm">
                    <div class="radios">
				        <label for="radio-01" class="label_radio">
				            <input type="radio" checked=""> Male
				        </label>
				        <label for="radio-02" class="label_radio">
				            <input type="radio"> Female
				        </label>
	                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="dob">Date of birth</label>
                <div class="col-md-9">
                    <input type="text" path="dob" id="dob" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="email">Email</label>
                <div class="col-md-9">
                    <input type="text" path="email" id="email" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="country">Country</label>
                <div class="col-md-9">
                    <select path="country" id="country" class="form-control input-sm">
                        <option value="">Select Country</option>
                        <option value="">Japan</option>
                        <option value="">Kenya</option>
                        <option value="">Dubai</option>
                        <option value="">Italy</option>
                        <option value="">Greece</option>
                        <option value="">Iceland</option>
                        <option value="">China</option>
                        <option value="">Doha</option>
                        <option value="">Irland</option>
                        <option value="">Srilanka</option>
                        <option value="">Russia</option>
                        <option value="">Hong Kong</option>
                        <option value="">Germany</option>
                        <option value="">Canada</option>
                        <option value="">Mexico</option>
                        <option value="">Nepal</option>
                        <option value="">Norway</option>
                        <option value="">Oman</option>
                        <option value="">Pakistan</option>
                        <option value="">Kuwait</option>
                        <option value="">Indonesia</option>
                        <option value="">Spain</option>
                        <option value="">Thailand</option>
                        <option value="">Saudi Arabia</option>
                        <option value="">Poland</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="country">Work Experience</label>
                <div class="col-md-9">
                    <select path="country" id="country" class="form-control input-sm">
                        <option value="">Select</option>
                        <option value="">Fresher</option>
                        <option value="">0</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                        <option value="">13</option>
                        <option value="">14</option>
                        <option value="">15</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="country">Education</label>
                <div class="col-md-9">
                    <select path="country" id="country" class="form-control input-sm">
                        <option value="">Select</option>
                        <option value="">Bsc</option>
                        <option value="">BTech</option>
                        <option value="">Mca</option>
                        <option value="">BCA</option>
                        <option value="">Diploma</option>
                        <option value="">Other</option>
                    </select>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="subjects">Subjects</label>
                <div class="col-md-9 sm_1">
                   <textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"> </textarea>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Register" class="btn btn-primary btn-lg">
            </div>
        </div>
    </form>
               </div>
           <div class="col-md-2"></div>
    </div>
        </div>
		  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
		    <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
		  </div>
            <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
		    <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
		  </div>
            <div role="tabpanel" class="tab-pane fade" id="profile2" aria-labelledby="profile-tab2">
		    <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
              <div class="tab_grid">
			    <div class="col-sm-12">
			       <div class="location_box1">
			    	 <h6><a href="{% url 'home'%}">dolor repellendus </a><span class="m_1">Posted 5 hours ago</span></h6>
			    	 <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure</p>
			    	 <ul class="links_bottom">
		  		    	<li><a href="{% url 'home'%}"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text">Email this Job</span></a></li>
			  			<li><a href="{% url 'home'%}"><i class="fa fa-eye icon_1"> </i><span class="icon_text">View full Job Description</span></a></li>
			  			<li class="last"><a href="{% url 'home'%}"><i class="fa fa-sort-desc icon_1"> </i><span class="icon_text">View similar Jobs</span></a></li>
					 </ul>
				   </div>
			    </div>
			    <div class="clearfix"> </div>
			 </div>
		  </div>
	  </div>
     </div>
    </div>
   </div>
  <div class="clearfix"> </div>
 </div>
</div>
{% endblock main %}