{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Request Loan{% endblock title %}
{% block main %}
<div class="container">
    <div class="single">
	   <div class="form-container">
           <div class="col-md-2"></div>
           <div class="col-md-8 jumbotron">
           <h2 >Register Form</h2>
                <form>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Amount">Amount</label>
                <div class="col-md-9">
                    <input type="number" path="Amount" name="amt" class="form-control input-sm" required="required"/>
                </div>
            </div>
         </div>
        {# TODO  Add a javaScript that allows user to  add collateral        #}
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Collateral">Collateral</label>
                <div class="col-md-9">
                    <input type="file" path="Collateral" name="ln" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Send" class="btn btn-warning btn-lg">
            </div>
        </div>
    </form>
               </div>
           <div class="col-md-2"></div>
    </div>
 </div>
</div>
<br>
{% endblock main %}
