{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}All Post{% endblock title %}
{% block main %}
{#    This page displays all general posts  #}
<main role="main" class="container bg-white shadow">
      {% if posts.object_list.count > 0 %}
            <div class="col-12 card card-header card-title text-center mb-3 text-white display-4 bg-secondary">
                <p style="font-size: xx-large">All Posts</p>
            </div>
        {% for post in posts.object_list %}

{#            This is the template for a single post information #}
          <div class="card p-1 rounded display-4 mb-2">
          <div class="card-header bg-secondary card-title font-weight-bold">
                <p class=" text text-center display-4 font-italic mt-1" style="font-size: x-large">
                    <a class="card-link text-warning" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></p>
          </div>
          <div class="card-title font-weight-normal text-center" style="font-size: small">
                <p  class="text text-muted font-italic mt-2">
                By <a href="{% url 'profile' post.author_detail.id %}" class="card-link" >{{ post.author_detail.first_name  }} {{ post.author_detail.last_name  }}</a> at {{ post.format_date }}
            </p>
              <hr/>
            </div>
          <div class="card-body card-text p-1 mt-0" style="font-size: medium">
            <p>{{ post.post_summary }}...<em>
                <a href="{% url 'post_detail' post.id %}">read more</a>
            </em></p>
          </div>
            </div>

        {% endfor %}
{#          This shows the code for paginating this page #}
          <div class="card-footer bg-light text-warning  text-center display-4 pagination pagination-centered">
    <span class="step-links font-weight-normal text-center" style="font-size: x-large">
     {% if posts.has_other_pages %}
            {% if posts.has_previous %}
                {% if tag %}
                    <a href="{% url 'all_post' tag  posts.previous_page_number %}">Previous</a>
                {% else %}
                    <a href="{% url 'all_post' 't' posts.previous_page_number %}">Previous</a>
                {% endif %}
             {% else %}
              <span>Previous</span>
            {% endif %}
            {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
                <span>{{ i }} <span class="sr-only">(current)</span></span>
              {% else %}
                {% if tag %}
                    <a href="{% url 'all_post' tag i %}">{{ i }}</a>
                {% else %}
                    <a href="{% url 'all_post' 't' i %}">{{ i }}</a>
                 {% endif %}
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              {% if tag %}
                    <a href="{% url 'all_post' tag posts.next_page_number %}">Next</a>
                {% else %}
                    <a href="{% url 'all_post' 't' posts.next_page_number %}">Next</a>
              {% endif %}
            {% else %}
              <span>Next</span>
            {% endif %}
    {% endif %}
          </span>
         </div>
        {% endif %}
</main>
{% endblock main %}