{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Reply to Comment Name{% endblock title %}
{% block main %}
<div class="container display-4 font-weight-normal">
{# This card contains the detail of a comment #}
    <div class="card">
{#    This contains the comment header #}
    <div class="card-header  bg-secondary text-white mb-3">
        <h2 class="p-3 text text-center">Comment on <a class="display-4 font-italic text-warning card-link" href="{% url 'post_detail' comment.post.id %}"
                                                       style="font-size: xx-large">
            {{ comment.post.title }}</a> by <span><a class="card-link text-warning"
                    href="{% url 'profile' comment.author_id %}">{{ comment.author_detail }}</a></span></h2>
    </div>
    <em class="text-center" style="font-size: large">on {{ comment.date_posted }}</em>
{#    This contains the comment content #}
<div class="card-body text-justify">
    <p class="display-4 p-1" style="font-size:x-large">{{ comment.content }}</p>
</div>

{#    This contains the reaction section of the comment (likes and dislikes ) #}
    {% if user.is_authenticated and user.is_cooperative_member and user.is_partner %}
    <div class="card-footer pl-0 pr-0 pt-0">
        <a class="btn mr-1" onclick="document.getElementById('reply_container').hidden = true; ">
            <i class="fa fa-comment"></i>
            <span class="share1 fb">Reply {{ comment.all_replies.count }}</span>
        </a>
        <a class="btn mr-1" >
            <i class="fa fa-thumbs-up tw"></i>
            <span class="share1">Likes {{ comment.likes_ }}</span>
        </a>
        <a class="btn" >
            <i class="fa fa-thumbs-down"></i>
            <span class="share1 google">Dislikes {{ comment.dislikes_ }}</span>
        </a>
   </div>
    {% endif %}
</div>
{# This shows all the replies to this comment  #}
<main id="reply-container" class="container center-block">
<div class="card-header bg-secondary text-white mb-3 mt-3 mr-0 ml-0">
	      	<h6 class="display-4 font-italic text text-center" style="font-size: xx-large" >Replies</h6>
</div>
          {% if comment.all_replies.count > 0 %}
          {% for reply in comment.all_replies %}
             {% if reply.author_id == user.id %}
                <div class="row mb-3 display-4 font-weight-normal text-justify" style="font-size: large">
                <div class="card col-sm-12 display-4 font-weight-normal text-justify pl-0 pr-0" style="font-size: medium">
                    <div class="card-header card-title bg-secondary text-white p-2">
                        <img class="img-responsive rounded-circle" src="{% if reply.author_details.image.url != '/media/' %}{{ reply.author_details.image.url }}
                            {% else %}{% static 'seek/images/profile.png' %}{% endif %}" height="30" width="30" >
                    <span><a style="font-size:medium" class="card-link font-weight-normal text-warning" href="{% url 'profile' reply.author_id %}">
                          {{ reply.author_details.first_name }} {{ reply.author_details.last_name }} </a> - {{ reply.author_status }}</span>
                    <p class="text-center pb-0" style="font-size: x-small"> {{ reply.date_posted }} </p>

                    </div>
                    <div class="card-body p-2">
                        {{ reply.content }}
                    </div>
                    <div class="card-footer p-0">
                        <div class="card-link bg-light p-2">
                                <a href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react'  %}',
                    data: { message_type  : 'Reply', 'message_id' : {{ reply.id }} , reaction : 'L' },
                    success: function() {
                    const a = document.getElementById('l_r_share_{{ reply.id }}');
                    const d = document.getElementById('d_r_share_{{ reply.id }}');
                    const b = document.getElementById('reply_like_count_{{reply.id }}');
                    const c = document.getElementById('reply_dislike_count_{{reply.id }}');
                    if (a.innerText === 'Like' && d.innerText === 'Disliked'){
                        b.innerText = Number(b.innerText) + 1;
                        c.innerText = Number(c.innerText) - 1;
                        a.innerText='Liked';
                        d.innerText='Dislike';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) + 1;
                        a.innerText='Liked';
                    }
                    }
                    });
                    }" id="like_btn" class="btn mr-1" >
                                    <i class="fa fa-thumbs-up tw"></i>
                                    <span id="l_r_share_{{ reply.id }}">{%if user in reply.likes %} Liked {% else %}Like{% endif %} <a id="reply_like_count_{{ reply.id }}" href="{% url 'likes' 'Reply' reply.id 1 %}"> {{ reply.likes_ }}</a></span>
                                </a>
                                <a  href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react' %}',
                    data: { message_type  : 'Reply', 'message_id' : {{ reply.id }} , reaction : 'D' },
                    success: function() {
                    const a = document.getElementById('l_r_share_{{ reply.id }}');
                    const d = document.getElementById('d_r_share_{{ reply.id }}');
                    const b = document.getElementById('reply_like_count_{{reply.id }}');
                    const c = document.getElementById('reply_dislike_count_{{reply.id }}');
                    if (a.innerText === 'Liked' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) - 1;
                        c.innerText = Number(c.innerText) + 1;
                        a.innerText='Like';
                        d.innerText='Disliked';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        c.innerText = Number(b.innerText) + 1;
                        d.innerText='Disliked';
                    }
                    }
                    });
                    }" class="btn mr-1" >
                                    <i class="fa fa-thumbs-down tw"></i>
                                    <span id="d_r_share_{{ reply.id }}">{% if user in reply.dislikes %}Disliked {% else %}Dislike{% endif %}  <a  id="reply_dislike_count_{{ reply.id }}" href="{% url 'dislikes' 'Reply' reply.id 1 %}" >
                                        {{ reply.dislikes_ }}</a></span>
                                </a>
                           </div>
                    </div>
                </div>
                </div>
              {% else %}
                <div class="row mb-3 display-4 font-weight-normal text-justify" style="font-size: large">
                <div class="card col-sm-12 display-4 font-weight-normal text-justify pl-0 pr-0" style="font-size: medium">
                    <div class="card-header card-title bg-secondary text-white p-2">
                        <img class="img-responsive rounded-circle"
                             src="{% if reply.author_details.image.url != '/media/' %}{{ reply.author_details.image.url }}
                            {% else %}{% static 'seek/images/profile.png' %}{% endif %}" height="30" width="30" >
                    <span><a style="font-size: medium" class="card-link font-weight-normal text-warning" href="{% url 'profile' reply.author_id %}">
                          {{ reply.author_details.first_name }} {{ reply.author_details.last_name }}</a> - {{ reply.author_status }}</span>
                    <p class="text-center pb-0" style="font-size: x-small"> {{ reply.date_posted }} </p>

                    </div>
                    <div class="card-body">
                        {{ reply.content }}
                    </div>
                    <div class="card-footer p-0">
                        <div class="card-link bg-light p-2">
                                <a href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react'  %}',
                    data: { message_type  : 'reply', 'message_id' : {{ reply.id }} , reaction : 'L' },
                    success: function() {
                    const a = document.getElementById('l_r_share_{{ reply.id }}');
                    const d = document.getElementById('d_r_share_{{ reply.id }}');
                    const b = document.getElementById('reply_like_count_{{reply.id }}');
                    const c = document.getElementById('reply_dislike_count_{{reply.id }}');
                    if (a.innerText === 'Like' && d.innerText === 'Disliked'){
                        b.innerText = Number(b.innerText) + 1;
                        c.innerText = Number(c.innerText) - 1;
                        a.innerText='Liked';
                        d.innerText='Dislike';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) + 1;
                        a.innerText='Liked';
                    }
                    }
                    });
                    }" id="like_btn" class="btn mr-1" >
                                    <i class="fa fa-thumbs-up tw"></i>
                                    <span id="l_r_share_{{ reply.id }}">{%if user in reply.likes %} Liked {% else %}Like{% endif %} <a id="reply_like_count_{{ reply.id }}" href="{% url 'likes' 'Reply' reply.id 1 %}"> {{ reply.likes_ }}</a></span>
                                </a>
                                <a  href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react' %}',
                    data: { message_type  : 'Reply', 'message_id' : {{ reply.id }} , reaction : 'D' },
                    success: function() {
                    const a = document.getElementById('l_r_share_{{ reply.id }}');
                    const d = document.getElementById('d_r_share_{{ reply.id }}');
                    const b = document.getElementById('reply_like_count_{{reply.id }}');
                    const c = document.getElementById('reply_dislike_count_{{reply.id }}');
                    if (a.innerText === 'Liked' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) - 1;
                        c.innerText = Number(c.innerText) + 1;
                        a.innerText='Like';
                        d.innerText='Disliked';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        c.innerText = Number(b.innerText) + 1;
                        d.innerText='Disliked';
                    }
                    }
                    });
                    }" class="btn mr-1" >
                                    <i class="fa fa-thumbs-down tw"></i>
                                    <span id="d_r_share_{{ reply.id }}">{% if user in reply.dislikes %}Disliked {% else %}Dislike{% endif %}  <a  id="reply_dislike_count_{{ reply.id }}" href="{% url 'dislikes' 'Reply' reply.id 1 %}" >
                                        {{ reply.dislikes_ }}</a></span>
                                </a>
                           </div>
                    </div>
                </div>
                </div>
              {% endif %}
          {% endfor %}
          {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="text text-center display-4 font-italic" style="font-size: x-large">No Replies</h6>
                </div>
            </div>
          {% endif %}
		  </main>

{# This allows a user to reply to this comment #}
    {% if user.is_authenticated and user.is_cooperative_member or user.is_partner %}
        <div id="reply_now" class="col-sm-12 bg-light mt-3 p-3">
		  <form class="form" action="{% url 'comment_detail' comment.post.id comment.id %}" method="post">
                 {% csrf_token %}
		        <div class="input-group">
                    <textarea type="text" class="form-control text text-justify" name="content" placeholder="Type in your message"
                              aria-label="" aria-describedby="basic-addon1"></textarea>
                    <div class="input-group-append">
                     <input class="btn btn-outline-success btn-sm"
                            onclick=" document.getElementById('post_media').hidden = false;
                                  document.getElementById('post_comments').hidden =false;
                                "value='Send' type="submit">
                    </div>
                </div>
             </form>
	   </div>
    {% endif %}
	 </div>
{% endblock main %}
{% block footer %}fixed-bottom{% endblock %}