{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Reply to Comment Name{% endblock title %}
{% block main %}
<div class="container center-block">
    <div class="col-md-12 jumbotron">
    <div class="col-sm-12 bg-light mb-3">
        <h2 class="p-3 text text-center">Comment on <a class="display-4 font-italic card-link" href="{% url 'post_detail' comment.post.id %}"
                                                       style="font-size: xx-large">
            {{ comment.post.title }}</a> by <span><a class="card-link" href="{% url 'profile' comment.author_id %}">{{ comment.author_detail.username }}</a></span> at
            <span class="display-4 font-italic font-weight-bold" style="font-size: large">{{ comment.date_posted }}</span></h2>
    </div>
<div class="col-sm-12 bg-light mb-3">
    <p class="display-4 font-italic p-3" style="font-size:x-large">{{ comment.content }}</p>
    {% if user.is_authenticated and user.is_cooperative_member and user.is_partner %}
    <div style="border-radius: 5px" class="card-link bg-light p-2">
        <a class="btn mr-1" onclick="document.getElementById('reply_container').hidden = true; ">
            <i class="fa fa-comment"></i>
            <span class="share1 fb">Reply {{ comment.all_replies.count }}</span>
        </a>
        <a class="btn mr-1" >
            <i class="fa fa-thumbs-up tw"></i>
            <span class="share1">Likes {{ comment.likes.count }}</span>
        </a>
        <a class="btn" >
            <i class="fa fa-thumbs-down"></i>
            <span class="share1 google">Dislikes {{ comment.dislikes.count }}</span>
        </a>
   </div>
    {% endif %}
</div>

	      <div id="reply-container" class="container center-block col-sm-12 bg-light">
	      	<h6 class="display-4 font-italic text text-center" style="font-size: xx-large" >Replies</h6>
              <hr/>
          {% if comment.all_replies.count > 0 %}
          {% for reply in comment.all_replies %}
             {% if reply.author_id == user.id %}
                <div class="row">
                <div class="col-sm-3"></div>
               <div class="col-sm-9">
                   <div class="card bg-secondary p-2 mb-3 " style="border-radius: 20px">
			            <div class="card-header bg-white mb-2" style="border-radius: 20px">
                            <h4 class="card-text mr-auto"><a class="card-link" href="{% url 'profile' reply.author_id %}">{{ reply.author_details.username }}</a><span class="display-4 font-italic"style="font-size: large"> at  {{ reply.date_posted }}</span></h4>
                        </div>
                       <div class="card-body">
                           <p class="text text-justify text-light card-text">{{ reply.content }}</p>
                           {% if user.is_authenticated and user.is_cooperative_member or user.is_partner %}
                            <div style="border-radius: 5px" class="card-link bg-light p-0">

        <a href="javascript:{
                $.ajax({
                    type: 'POST',
                    url: '{% url 'react' 'Reply' reply.id 'L'  %}',
                    success: function() {
                    const a = document.getElementById('l_r_share_{{ reply.id }}');
                    const d = document.getElementById('d_r_share_{{ reply.id }}');
                    const b = document.getElementById('reply_like_count_{{reply.id }}');
                    const c = document.getElementById('reply_dislike_count_{{reply.id }}');
                    if (a.innerText === 'Like' && d.innerText === 'Disliked'){
                        b.innerText = Number(b.innerText) + 1;
                        c.innerText = Number(c.innerText) - 1;
                        a.innerText='Liked';
                        d.innerText='Dislike';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) + 1;
                        a.innerText='Liked';
                    }
                    }
                    });
                    return false;}" id="like_btn" class="btn mr-1" >
                                    <i class="fa fa-thumbs-up tw"></i>
                                    <span id="l_r_share_{{ reply.id }}">Like <a  id="reply_like_count_{{ reply.id }}" href="{% url 'likes' 'Reply' reply.id %}"> {{ reply.likes.count }}</a></span>
                                </a>
                                <a  href="javascript:{
                $.ajax({
                    type: 'POST',
                    url: '{% url 'react' 'Reply' reply.id 'L'  %}',
                    success: function() {
                    const a = document.getElementById('l_r_share_{{ reply.id }}');
                    const d = document.getElementById('d_r_share_{{ reply.id }}');
                    const b = document.getElementById('reply_like_count_{{reply.id }}');
                    const c = document.getElementById('reply_dislike_count_{{reply.id }}');
                    if (a.innerText === 'Liked' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) - 1;
                        c.innerText = Number(c.innerText) + 1;
                        a.innerText = 'Like';
                        d.innerText = 'Disliked';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        c.innerText = Number(b.innerText) + 1;
                        d.innerText='Disliked';
                    }
                    }
                    });
                    return false;}" class="btn mr-1" >
                                    <i class="fa fa-thumbs-down tw"></i>
                                    <span class="share1">Dislike  <a href="{% url 'dislikes' 'Reply' reply.id %}" >
                                        {{ reply.dislikes.count }}</a></span>
                                </a>
{#
   </div>
                           {% endif %}
                       </div>
			  </div>
			</div>
               </div>
              {% else %}
                <div class="row">
               <div class="col-sm-9">
                   <div class="card bg-secondary p-2 mb-3 " style="border-radius: 20px">
			            <div class="card-header bg-white mb-2" style="border-radius: 20px">
                            <h4 class="card-text ml-auto"><a class="card-link" href="{% url 'profile' reply.author_id %}">{{ reply.author_details.username}}</a><span class="display-4 font-italic"style="font-size: large"> at  {{ reply.date_posted }}</span></h4>
                        </div>
                       <div class="card-body">
                           <p class="text text-justify text-light card-text">{{ reply.content }}</p>
                           {% if user.is_authenticated and user.is_cooperative_member or user.is_partner %}
                            <div style="border-radius: 5px" class="card-link bg-light p-0">
        <a class="btn mr-1" href="#">
            <i class="fa fa-thumbs-up tw"></i>
            <span class="share1">Like 3</span>
        </a>
        <a class="btn" href="#">
            <i class="fa fa-thumbs-down"></i>
            <span class="share1 google">Dislike 5</span>
        </a>
   </div>
                               {% endif %}
                       </div>
			  </div>
               </div>
                <div class="col-sm-3"></div>
               </div>
              {% endif %}
          {% endfor %}
          {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="text text-center display-4 font-italic" style="font-size: x-large">No Replies</h6>
                </div>
            </div>
          {% endif %}
		  </div>
    {% if user.is_authenticated and user.is_cooperative_member or user.is_partner %}
        <div id="reply_now" class="col-sm-12 bg-light mt-3 p-3">
		  <form class="form" action="{% url 'comment_detail' comment.post.id comment.id %}" method="post">
                 {% csrf_token %}
		        <div class="input-group">
                    <textarea type="text" class="form-control text text-justify" name="content" placeholder="Type in your message"
                              aria-label="" aria-describedby="basic-addon1"></textarea>
                    <div class="input-group-append">
                     <input class="btn btn-outline-success btn-sm"
                            onclick=" document.getElementById('post_media').hidden = false;
                                  document.getElementById('post_comments').hidden =false;
                                "value='Send' type="submit">
                    </div>
                </div>
             </form>
	   </div>
    {% endif %}
	 </div>
</div>
{% endblock main %}
