{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Create Post{% endblock title %}
{% block status %}{{ status }}{% endblock status %}
{% block error %}{{ message }}{% endblock error %}
{% block javascript %}
{% endblock javascript %}
{% block main %}
	   <div class="container  center-block jumbotron">
           <div class="col-sm-12">
               <div class="col-sm-12 bg-light">
                   <h2 class="text text-center display-5 p-4">Create a Post</h2>
               </div>
                  <form action="{% url 'make_post' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="col-sm-12 mb-3">
                            <input placeholder="Post Title" type="text" path="Title" name="title" class="form-control input-sm" required="required"/>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <input placeholder="Video Url" type="url"
                                   path="Title" name="video" class="form-control input-sm"/>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <input placeholder="Audio Url" type="url"  name="audio" class="form-control input-sm" />
                        </div>
                        <div class="col-sm-12 mb-3">
                            <input accept="image/*" type="file"  name="image"  class="form-control input-sm"/>
                        </div>
                      <div class="col-sm-12 mb-3">
                            <textarea type="text"  id="editor" rows="10" cols="100" name="content"
                                      class="form-control input-sm" required="required" >Write Your Content Here</textarea>
                        </div>
                    {% if user.is_cooperative_member %}
                      <div class="form-row col-sm-12 mb-3">
                <div class="checkbox-row">
                        <input type="checkbox" name="for_cooperative" value="1" id="id_for_cooperative"><label class="vCheckboxLabel" for="id_for_cooperative">For cooperative</label>
                </div>

        </div>
                      {% endif %}
                  <div class="col-sm-12 mb-3">
                            <a  onclick="
                            var attach = document.createElement('div');
                            attach.setAttribute('class','row mb-3  p-1');
                            var node= document.createElement('input');
                            node.setAttribute('type','file');
                            var t = document.getElementById('attachments').childElementCount;
                            attach.setAttribute('id','attachment'+t);
                            node.setAttribute('name','attachment'+t);
                            node.setAttribute('class','col-8');
                            node.setAttribute('accept','application/pdf');
                            var del_btn = document.createElement('a');
                            del_btn.setAttribute('class', 'btn btn-info col-4');
                            del_btn.setAttribute('id', t);
                            del_btn.innerText = 'Remove';
                            del_btn.setAttribute('onclick', 'document.getElementById(\'attachment\'+this.id).remove();');
                            attach.appendChild(node);
                            attach.appendChild(del_btn);
                            document.getElementById('attachments').appendChild(attach);"

                                 class="btn btn-outline-info mr-auto" >
                                       <span>Add Attachment</span>
                                    <i class="fa fa-file tw"></i>
                                </a>
                        </div>
                  <div id="attachments" class="container">
                  </div>
                      <div class="col-sm-12 mb-3">
                        <input type="submit" value="Create Post" class="btn btn-outline-info btn-lg">
                      </div>

                </form>
            </div>
       </div>
<br>
{% endblock main %}
