{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Create Post{% endblock title %}
{% block main %}
<div class="container">
    <div class="single">
	   <div class="form-container">
           <div class="col-md-2"></div>
           <div class="col-md-8 jumbotron">
           <h2 >Register Form</h2>
                <form>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Title">Title</label>
                <div class="col-md-9">
                    <input type="text" path="Title" name="title" class="form-control input-sm" required="required"/>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Content">Content</label>
                <div class="col-md-9">
                    <textarea type="text" rows="50" path="Content" name="content" class="form-control input-sm" required="required"></textarea>
                </div>
            </div>
        </div>
        {% if user.is_cooperative_member %}
            <div class="row">
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <div class="radios">
				        <label for="radio-01" class="label_radio">
				            <input type="radio" checked=""> General Post
				        </label>
				        <label for="radio-02" class="label_radio">
				            <input type="radio"> Cooperative Post
				        </label>
	                </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Create Post" class="btn btn-warning btn-lg">
            </div>
        </div>
    </form>
               </div>
           <div class="col-md-2"></div>
    </div>
 </div>
</div>
<br>
{% endblock main %}
