{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Post details{% endblock title %}
{% block main %}
<div class="container">
    <div class="single">
	 <div class="col-md-8 single_right">
	      <h2 class="text text-justify">Sed ut perspiciatis unde omnis iste natus</h2>
	      <div class="row_1">
	      	<div class="col-sm-12 single_img">
	      		<img src="{% static 'seek/images/a1.jpg'%}" class="img-responsive" width="100%"/>
                <br>
                {% if video %}
                    <a href="{% static 'seek/image/a1.jpg' %}" class="btn btn-success">Click here to watch the Video</a>
                    <br><br>
                {% elif audio %}
                    <audio src="{% static 'seek/image/a1.jpg' %}" controls="controls" type="MIME_type"></audio>
                {% endif %}
            <hr/>
	      	</div>

	      </div>
	      <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. </p>
	      <div class="comments">
	      	<h6>Comments</h6>
              <hr/>
			<div class="media jumbotron">
			  <div class="media-left"><a href="#"> </a></div>
			  <div class="media-body">
			    <h4 class="media-heading"><a class="author" href="#">Sollicitudin</a><a class="reply" href="#">Reply</a><div class="clearfix"> </div></h4>
			    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			  <div class="clearfix"> </div>
			</div>
			<div class="media jumbotron">
			  <div class="media-left"><a href="#"> </a></div>
			  <div class="media-body">
			    <h4 class="media-heading"><a class="author" href="#">Sollicitudin</a><a class="reply" href="#">Reply</a><div class="clearfix"> </div></h4>
			    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</div>
		  </div>
		  <form>
              <hr/>
			<div class="text">
               <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
            </div>
            <div class="form-submit1">
	           <input name="submit" type="submit" id="submit" value="Submit"><br>
	        </div>
			<div class="clearfix"></div>
          </form>
	   </div>
        <div class="col-md-4">
	   	  <div class="col_3">
               <hr/>
	   	  	<h3>Related Posts</h3>
	   	  	<ul class="list_1">
	   	  		<li><a href="#">LIC Housing Finance Ltd. recruitment for Personal Assistant in Mumbai</a></li>
	   	  		<li><a href="#">Madurai Kamaraj University recruitment for Research Assistants Econometrics in Madurai</a></li>
	   	  		<li><a href="#">LIC Housing Finance Ltd. recruitment for Personal Assistant in Mumbai</a></li>
	   	  		<li><a href="#">Madurai Kamaraj University recruitment for Research Assistants Econometrics in Madurai</a></li>
	   	  		<li><a href="#">LIC Housing Finance Ltd. recruitment for Personal Assistant in Mumbai</a></li>
	   	  		<li><a href="#">Madurai Kamaraj University recruitment for Research Assistants Econometrics in Madurai</a></li>
	   	  		<li><a href="#">LIC Housing Finance Ltd. recruitment for Personal Assistant in Mumbai</a></li>
	   	  		<li><a href="#">Madurai Kamaraj University recruitment for Research Assistants Econometrics in Madurai</a></li>
	   	  	</ul>
	   	  </div>
	   	  <div class="col_3">
	   	  	<h3>Other Posts</h3>
	   	  	<ul class="list_2">
	   	  		<li><a href="#">Railway Recruitment</a></li>
	   	  		<li><a href="#">Indian Air Force Jobs</a></li>
	   	  		<li><a href="#">Police Jobs</a></li>
	   	  		<li><a href="#">Intelligence Bureau Jobs</a></li>
	   	  		<li><a href="#">Indian Army Jobs</a></li>
	   	  		<li><a href="#">Indian Navy Jobs</a></li>
	   	  		<li><a href="#">BSNL Jobs</a></li>
	   	  		<li><a href="#">SBI Jobs</a></li>
	   	  	</ul>
	   	  </div>
	 </div>
	   <div class="clearfix"> </div>
	 </div>
</div>
{% endblock main %}
