{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Post details{% endblock title %}
{% block status %}{{ status }}{% endblock %}
{% block error %}{{ message }}{% endblock %}
{% block main %}
    <div id="alert-status" class="alert alert-primary d-none">
    <h6 id="alert-msg" class="text text-center">Are you sure you want to delete this post? </h6>
    <div class="text-center">
         <button class="btn btn-danger btn-sm mr-3" onclick="
        document.querySelector('#alert-status').className='d-none alert alert-primary';
">Cancel</button>
                      <button class="btn btn-success btn-sm ml-3" onclick="
$.ajax({
                    type: 'GET',
                    url: '{% url 'delete_post'  %}',
                    data: { 'id'  : {{ post.id }} },
                    success: function(data) {
                      if (data.status === 'success')
                      window.open('/','_self')
                      }
              })">Delete</button>
    </div>
</div>
<div class="container-fluid row mb-5 ">
{#    This section shows the details of a post and all its comments #}
     <div class="col-md-8">
{#     This shows the details of the post #}
        <div class="card display-4 font-weight-normal text-justify" style="font-size: large">

{#            This shows the header of the post #}
            <div class="card-header bg-secondary text-white ">
                <h1 class=" text text-center display-4 font-italic " style="font-size: xx-large">
                    {{ post.title }}</h1>
            </div>
            <div class="col-sm-12" style="font-size: x-large">
                <p  class="text text-muted text-center font-italic pt-1">
                    By <span><a class="card-link" href="{% url 'profile' post.author_id %}">
                    {{ post.author_detail.first_name }} {{ post.author_detail.last_name }}</a></span> on {{ post.date_posted }}
            </p>
                <hr/>
                <p  class="text text-muted text-center font-italic pt-0 pb-0">{{ post.author_status }}</p>
                <hr/>
            </div>
             <div class="card-body p-0">

                 {#             This displays the post image if any #}
                 {% if post.image.url != None %}
	      	        <figure>
                        <img src="{{ post.image.url }}" class="img-responsive mb-2 card-image" width="100%" height="500px"/>
                    </figure>
                     <hr/>
                 {% endif %}

{#             This displays the post content #}
             <article>
             <p class="text text-justify p-3 card-text" style="font-size: large">{{ post.content }}</p>
             </article>

{#                 This displays the post attachments #}
                 {% if post.attachments.count > 0 %}
                 <div class="card-footer">
                 <p><strong>Attachments: </strong>{% for attachment in post.attachments %}<span class="ml-3">
                 <a  class="card-link" href="{{ attachment.file.url }}"> {{ attachment.file.name }} </a></span>{% endfor %}</p>
                </div>
             {% endif %}

{#             This shows the post reactions ( comments likes and dislikes ) #}
                 {% if user.is_authenticated %}
                     {%if post.for_cooperative == True and user.is_cooperative_member or post.for_cooperative == False %}
          <div class="card-link card-footer bg-light p-2">
            <a  href="#" class="card-link mr-1">
                <i class="fa fa-comment"></i>
                <span class="share1 fb">Comment  {{ post.all_comments.count }}</span>
            </a>
                                <a href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react' %}',
                    data: { message_type  : 'Post', 'message_id' : {{ post.id }} , reaction : 'L' },
                    success: function() {
                    const a = document.getElementById('l_share_{{ post.id }}');
                    const d = document.getElementById('d_share_{{ post.id }}');
                    const b = document.getElementById('like_count_{{post.id }}');
                    const c = document.getElementById('dislike_count_{{post.id }}');
                    if (a.innerText === 'Like' && d.innerText === 'Disliked'){
                        b.innerText = Number(b.innerText) + 1;
                        c.innerText = Number(c.innerText) - 1;
                        a.innerText='Liked';
                        d.innerText='Dislike';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) + 1;
                        a.innerText='Liked';
                    }
                    }
                    });
                    }" id="like_btn" class="btn mr-1" >
                                    <i class="fa fa-thumbs-up tw"></i>
                                    <span id="l_share_{{ post.id }}">{% if user in post.likes %}Liked{% else %}Like{% endif %} <a id="like_count_{{ post.id }}" href="{% url 'likes' 'Post' post.id 1 %}"> {{ post.likes_ }}</a></span>
                                </a>
                                <a  href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react'  %}',
                    data: { message_type  : 'Post', 'message_id' : {{ post.id }} , reaction : 'D' },
                    success: function() {
                    const a = document.getElementById('l_share_{{ post.id }}');
                    const d = document.getElementById('d_share_{{ post.id }}');
                    const b = document.getElementById('like_count_{{post.id }}');
                    const c = document.getElementById('dislike_count_{{post.id }}');
                    if (a.innerText === 'Liked' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) - 1;
                        c.innerText = Number(c.innerText) + 1;
                        a.innerText='Like';
                        d.innerText='Disliked';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        c.innerText = Number(c.innerText) + 1;
                        d.innerText='Disliked';
                    }
                    }
                    });
                }" class="btn mr-1" >
                                    <i class="fa fa-thumbs-down tw"></i>
                                    <span id="d_share_{{ post.id }}">{% if user in post.dislikes %} Disliked {% else %}Dislike{% endif %}  <a id="dislike_count_{{ post.id }}" href="{% url 'dislikes' 'Post' post.id 1 %}" >
                                        {{ post.dislikes_ }}</a></span>
                                </a>
          {% if user.id == post.author_id %}
          <a href="{% url 'edit_post' post.id %}" class="btn float-right"><i class="fa fa-edit"></i> Edit</a>
          <a onclick="document.querySelector('#alert-status').className='d-block alert alert-primary';
            window.open('#','_self');"
             class="btn text-primary float-right"><i class="fa fa-dumpster-fire"></i> Delete</a>
              {% endif %}

            </div>
             {% endif %}
             {% endif %}
	      </div>
             </div>

{#     This shows the video and audio that came with the post #}
         {% if post.video != none %}

        <aside  id="post_media" class="container center-block text-center">
         <p class="text text-center display-4" style="font-size: x-large">Watch the video here</p>
           <iframe
                   width="480" height="270" src="{{ post.video_url }}" frameborder="0"
                   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </aside>
        {% endif %}
         {% if post.audio != none %}
             <aside class="center-block">
             <p class="text text-center display-4" style="font-size: x-large">Download the Audio here</p>
              <audio  class="container center-block" src="{% static '{{ post.audio.url }}' %}" controls="controls" type="MIME_type"></audio>
             </aside>
         {% endif %}

{#     This shows all the comments made to this posts #}
          <div  id="post_comments" class="display-4 font-weight-normal" style="font-size: large">
          <div class="card-header card-title bg-secondary text-white text text-center mt-3 mb-4"><p style="font-size: xx-large">All Comments </p></div>
            {% if post.all_comments.count > 0 and post.for_cooperative == True and user.is_cooperative_member or post.for_cooperative == False %}
              {% for comment in post.all_comments %}
                <div class="row mb-3 display-4 font-weight-normal text-justify" style="font-size: large">
                <div class="card col-sm-12 display-4 font-weight-normal text-justify pl-0 pr-0" style="font-size: medium">
                    <div class="card-header card-title bg-secondary text-white p-2">
                        <img class="img-responsive rounded-circle"
                             src="{% if comment.author_detail.image.url != '/media/' %}{{ comment.author_detail.image.url }}
                            {% else %}{% static 'seek/images/profile.png' %}{% endif %}" height="30" width="30" >
                    <span><a style="font-size: medium" class="card-link font-weight-normal text-warning" href="{% url 'profile' comment.author_id %}">
                          {{ comment.author_detail.first_name }} {{ comment.author_detail.last_name }}</a> - {{ comment.author_status }}</span>
                    <p class="text-center pb-0" style="font-size: x-small"> {{ comment.date_posted }} </p>

                    </div>
                    <div class="card-body p-2" style="font-size: medium">
                        {{ comment.content }}
                    </div>
                    <div class="card-footer p-0">
                        {%  if user.is_authenticated and user.is_cooperative_member  or user.is_partner %}
                            {% if post.for_cooperative == True and user.is_cooperative_member or post.for_cooperative == False %}
                        <div class="card-link bg-light p-2">
                                <a class="btn mr-1" href="{% url 'comment_detail' post.id comment.id %}">
                                    <i class="fa fa-comment"></i>
                                    <span class="share1 fb">Reply {{ comment.all_replies.count }}</span>
                                </a>
                                <a href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react'  %}',
                    data: { message_type  : 'Comment', 'message_id' : {{ comment.id }} , reaction : 'L' },
                    success: function() {
                    const a = document.getElementById('l_c_share_{{ comment.id }}');
                    const d = document.getElementById('d_c_share_{{ comment.id }}');
                    const b = document.getElementById('comment_like_count_{{comment.id }}');
                    const c = document.getElementById('comment_dislike_count_{{comment.id }}');
                    if (a.innerText === 'Like' && d.innerText === 'Disliked'){
                        b.innerText = Number(b.innerText) + 1;
                        c.innerText = Number(c.innerText) - 1;
                        a.innerText='Liked';
                        d.innerText='Dislike';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) + 1;
                        a.innerText='Liked';
                    }
                    }
                    });
                    }" id="like_btn" class="btn mr-1" >
                                    <i class="fa fa-thumbs-up tw"></i>
                                    <span id="l_c_share_{{ comment.id }}">{%if user in comment.likes %} Liked {% else %}Like{% endif %} <a id="comment_like_count_{{ comment.id }}" href="{% url 'likes' 'Comment' comment.id 1 %}"> {{ comment.likes_ }}</a></span>
                                </a>
                                <a  href="javascript:{
                $.ajax({
                    type: 'GET',
                    url: '{% url 'react' %}',
                    data: { message_type  : 'Comment', 'message_id' : {{ comment.id }} , reaction : 'D' },
                    success: function() {
                    const a = document.getElementById('l_c_share_{{ comment.id }}');
                    const d = document.getElementById('d_c_share_{{ comment.id }}');
                    const b = document.getElementById('comment_like_count_{{comment.id }}');
                    const c = document.getElementById('comment_dislike_count_{{comment.id }}');
                    if (a.innerText === 'Liked' && d.innerText === 'Dislike'){
                        b.innerText = Number(b.innerText) - 1;
                        c.innerText = Number(c.innerText) + 1;
                        a.innerText='Like';
                        d.innerText='Disliked';
                    }else if (a.innerText === 'Like' && d.innerText === 'Dislike'){
                        c.innerText = Number(b.innerText) + 1;
                        d.innerText='Disliked';
                    }
                    }
                    });
                    }" class="btn mr-1" >
                                    <i class="fa fa-thumbs-down tw"></i>
                                    <span id="d_c_share_{{ comment.id }}">{% if user in comment.dislikes %}Disliked {% else %}Dislike{% endif %}  <a  id="comment_dislike_count_{{ comment.id }}" href="{% url 'dislikes' 'Comment' comment.id 1 %}" >
                                        {{ comment.dislikes_ }}</a></span>
                                </a>
                           </div>
                                {% endif %}
                    {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}
          {% endif %}
            <div class="col-sm-12 rounded mt-3">
             <form class="form" action="{% url 'post_detail' post.id %}" method="post">
                 {% csrf_token %}
		        <div class="input-group mb-3">
                    <textarea type="text" class="form-control text text-justify" name="content" placeholder="Type in your message"
                              aria-label="" aria-describedby="basic-addon1"></textarea>
                    <div class="input-group-append">
                     <input class="btn btn-outline-success btn-sm"
                            onclick=" document.getElementById('post_media').hidden = false;
                                  document.getElementById('post_comments').hidden =false;
                                " value='Send' type="submit">
                    </div>
                </div>
             </form>
            </div>
          </div>
		  </div>

{#This section shows a list of related posts to the post displayed #}
     <div class="col-md-4 font-weight-normal">
	   	  <div class="col_8">
              <div class="col-sm-12 bg-secondary rounded-2 text-white">
                  <h3 class=" text text-center display-4 font-italic p-3 " style="font-size: xx-large" >Related Posts</h3>
              </div>
          {% if related.count == 0 %}
              <div class="col-sm-12">
                <p class="lead text text-center text-info pb-2">No Related Posts</p>
              </div>
          {% else %}
	   	  	<div class="list">
               {% for r_post in related %}
                    {% if r_post.id == post.id and related.count == 1 %}
	   	  		         <div class="col-sm-12">
                <p class="lead text text-center text-info pb-2">No Related Posts</p>
              </div>
                        {% else  %}
                            {% if r_post.id != post.id %}
                                <div class="card-header title bg-light shadow-lg mb-2 display-4" style="font-size: x-large">
                                <p><a class="card-link" href="{% url 'post_detail' r_post.id %}">{{ r_post.title }}</a></p>
                                </div>
                            {% endif %}
                        {% endif %}
	   	  	    {% endfor %}
              <div class="card-header bg-secondary text-center"><a class="text-warning" href="{% url 'all_post' post.tag 1 %}">See More</a></div>
         {% endif %}
	   	  </div>
	 </div>
</div>
</div>
{% endblock main %}
{% block footer %}fixed-bottom{% endblock %}