{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}About{% endblock title %}
{% block main %}
{#    This page displays some information about the system #}
{#<div class=" p-3 row">#}
{#<div class="container col-md-7 jumbotron">#}
{#       <h2 class="text text-center" style="color: #546c8a">About Us</h2>#}
{#        <hr style="background-color: #f1ac17; "/>#}
{#	     <div class="col-sm-12">#}
{#             <h5 style="color: #546c8a">We serve as a forum to :</h5>#}
{#  			<div class="list list-inline">#}
{#				<ul>#}
{#					<li>#}
{#					   <div class="list-group-item">#}
{#						<h5 style="color: #f1ac17">Boost cooperation between cooperatives:</h5>#}
{#						<p>developing business relationships and partnerships among its members,#}
{#organising a rich diversity of regional and international events where organisations meet regularly to share ideas,#}
{#providing support instruments and disseminating know how, and#}
{#facilitating training programmes, events, and publications developed in partnership with cooperative development agencies.#}
{#Search the coop event close to you here.</p>#}
{#					   </div>#}
{#					</li>#}
{#			    </ul>#}
{#			</div>#}
{#  			<div class="list-inline-item">#}
{#				<ul>#}
{#					<li>#}
{#					   <div class="list-group-item">#}
{#						<h5 style="color: #f1ac17">Promote the cooperative difference: </h5>#}
{#						<p>#}
{#Working on the cooperative minimum standards or common denominators has continuously remained part of the fundamental mission of AgroCoop Naija since its creation. It is intrinsically linked to the legislation field, as national regulation having an impact on cooperatives should be first of all aimed at protecting the cooperative identity. More about how the ICA stewards the cooperative identity here#}
{##}
{#AgroCoopNaija represents and promotes the cooperative specificity towards media and in multilateral organisations including the United Nations, ILO, FAO, IFAD, the International Accounting Standards Board and the B20 among others.</p>#}
{#					   </div>#}
{#					</li>#}
{#			    </ul>#}
{#			</div>#}
{#	     	<div class="list-inline-item">#}
{#				<ul>#}
{#					<li>#}
{#					   <div class="list-group-item">#}
{#						<h5 style="color: #f1ac17">Develop an economic instrument: </h5>#}
{#						<p>AgroCoop Naija provides individuals and communities with an instrument of self-help and influence over local communities, regions, countries, continents and the whole world through wealth creation and redistribution, democracy, empowerment, and by producing an ever-increasing convergence between the economic, social and environmental components of development.#}
{##}
{#The United Nations Sustainable Development Goals (SDGs) have the merit of providing us with the first-ever comprehensive conceptual framework on development with precise goals and indicators on which all the states have agreed upon, the SDGs can thus be considered to be a transversal strategic priority for the ICA.</p>#}
{#					   </div>#}
{#					</li>#}
{#			    </ul>#}
{#			</div>#}
{#	     </div>#}
{#	     <div class="clearfix"> </div>#}
{#	   </div>#}
{#<div class="col-md-5  mb-3">#}
{#    <div class="jumbotron">#}
{#    <h2 class="text text-center" style="color: #546c8a">Contact Us</h2>#}
{#    <hr style="background-color: #f1ac17; "/>#}
{#        <div class="container bg-light p-3">#}
{#            <p class="text text-dark"><span style="font-size: large; color: #f1ac17;"><strong>Address: </strong></span> Kingman Street, Helena, OK 73015</p>#}
{#            <p class="text text-dark"><span style="font-size: large; color: #f1ac17"><strong>Phone: </strong></span>580-852-3252</p>#}
{#        </div>#}
{# </div>#}
{#</div>#}
{#</div>#}
{% endblock main %}
