{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock title %}
{% block status %}{{ status }}{% endblock %}
{% block error %}{{ message }}{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    {#This function enables the user to show some sections of the dashboard and hide the others #}
    function hide_my_stuff(profile, loan, invest, post, coop, edit_pro, coop_detail, part_detail ){
        if (profile === 0){
        document.getElementById('my_profile').hidden = true;
        }else if (profile === 1){
            document.getElementById('my_profile').hidden = false;
        }
        if (loan === 0){
            document.getElementById('my_loans').hidden = true;
        }else if (loan === 1){
            document.getElementById('my_loans').hidden = false;
        }
        if (invest === 0){
            document.getElementById('my_investments').hidden = true;
        }else if (invest === 1){
            document.getElementById('my_investments').hidden = false;
        }
        if (post === 0){
            document.getElementById('my_posts').hidden = true;
        }else if (post === 1){
            document.getElementById('my_posts').hidden = false;
            document.getElementById('general_post_').hidden = false;
            document.getElementById('coop_post_').hidden = false;
        }
        if (coop === 0){
            document.getElementById('cooperative_post').hidden = true;
        }else if (coop === 1){
            document.getElementById('cooperative_post').hidden = false;
        }
        if (edit_pro === 0){
            document.getElementById('edit_profile').hidden = true;
        }else if (edit_pro === 1){
            document.getElementById('edit_profile').hidden = false;
        }
        if (coop_detail === 0){
            document.getElementById('my_coop_detail').hidden= true;
        }else if (coop_detail === 1){
            document.getElementById('my_coop_detail').hidden = false;
        }
        {% if user.is_partner %}
        if (part_detail === 0){
             document.getElementById('part_detail').hidden = true;

        }else if (part_detail === 1){
                document.getElementById('part_detail').hidden = false;
        }
        {% endif %}
    }

    {#The following functions hides or shows sub menu displays  #}
    function my_post_hide(gen,coop_){
        if (gen === 0){
            document.getElementById('general_post_').hidden = true;
        }else if (gen === 1){
            document.getElementById('general_post_').hidden = false;
            document.getElementById('123_title').innerText = 'My General Posts';
        }
        if (coop_ === 0){
            document.getElementById('coop_post_').hidden= true;
        }else if (coop_ === 1){
            document.getElementById('coop_post_').hidden = false;
            document.getElementById('123_title').innerText = 'My Cooperative Posts';
        }
    }
    function my_loan_hide(paid,unpaid, unverified){
        if (paid === 0){
            document.getElementById('paid_loans_').hidden= true;
        }else if (paid === 1){
            document.getElementById('paid_loans_').hidden = false;
            document.getElementById('my_loan_title_').innerText = 'My Paid Loans';
        }
        if (unpaid === 0){
            document.getElementById('unpaid_loans_').hidden = true;
        }else if (unpaid === 1){
            document.getElementById('unpaid_loans_').hidden = false;
            document.getElementById('my_loan_title_').innerText = 'My Unpaid Loans';
        }
        if (unverified === 0){
            document.getElementById('unverified_loans_').hidden= true;
        }else if (unverified === 1){
            document.getElementById('unverified_loans_').hidden = false;
            document.getElementById('my_loan_title_').innerText = 'My Unverified Loans';
        }
    }
    function my_investment_hide(verified, unverified_){
        if (verified === 0){
            document.getElementById('verified_investments_').hidden= true;
        }else if (verified === 1){
            document.getElementById('verified_investments_').hidden = false;
            document.getElementById('my_investment_title_').innerText = 'My Verified Investments';
        }
        if (unverified_ === 0){
            document.getElementById('unverified_investments_').hidden = true;
        }else if (unverified_ === 1){
            document.getElementById('unverified_investments_').hidden = false;
            document.getElementById('my_investment_title_').innerText = 'My Unverified Investments';
        }

    }

    {#This function shows and hides some sections of the dashboard at the loading of the page  #}
    window.onload = function init(){
        document.getElementById('my_loans').hidden = true;
       document.getElementById('my_investments').hidden = true;
       document.getElementById('my_posts').hidden = true;
       document.getElementById('cooperative_post').hidden = true;
       document.getElementById('edit_profile').hidden = true;
        document.getElementById('my_coop_detail').hidden = false;
        {% if user.is_partner %}
            document.getElementById('part_detail').hidden = false;
        {% endif %}
        document.getElementById('my_profile').hidden = false;
    }; {
    }
    </script>
    <link href="{% static 'sb/css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<main id="page-top">

{#  This page displays all the information about the user  #}
  <div id="wrapper">

    <!-- This list shows the menus in the side bar of the dashboard -->
    <ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- This list item takes the user back to the initial state of the dashboard -->
      <li class="nav-item p-3">
            <a class="nav-link" href="javascript:{hide_my_stuff(1,0,0,0,0,0,1,1);}" >
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class=" active text-white">Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider"/>

      <!-- Post Heading -->
    {% if user.is_partner or user.is_cooperative_member %}
      <div class="sidebar-heading">
        Post
      </div>
{#    Post list item  #}
      <li class="nav-item">
       <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages5" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>My Post </span>
        </a>
        <div id="collapsePages5" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="javascript:{hide_my_stuff(0,0,0,1,0,0,0,0); my_post_hide(1,0);}">General Posts</a>
            {% if user.is_cooperative_member %}
              <a class="collapse-item" href="javascript:{hide_my_stuff(0,0,0,1,0,0,0,0); my_post_hide(0,1);}">Cooperative Posts</a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endif %}

    {% if user.is_cooperative_member %}
        {#      Cooperative post list item   #}
      <li class="nav-item">
        <a class="nav-link" href="javascript:{hide_my_stuff(0,0,0,0,1,0,0,0);}">
          <i class="fas fa-fw fa-newspaper"></i>
          <span>Cooperative Posts </span><span>({{ coop.all_posts.count }})</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
    {% endif %}

      <!-- Heading -->
    {% if user.is_cooperative_member %}
      <div class="sidebar-heading">
        Transactions
      </div>

      <!-- User's Cooperative Loan list item -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>My Loans</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="javascript:{hide_my_stuff(0,1,0,0,0,0,0,0); my_loan_hide(1,0,0);}">Paid Loans</a>
            <a class="collapse-item" href="javascript:{hide_my_stuff(0,1,0,0,0,0,0,0); my_loan_hide(0,1,0);}">Unpaid Loans</a>
            <a class="collapse-item" href="javascript:{hide_my_stuff(0,1,0,0,0,0,0,0); my_loan_hide(0,0,1);}">Unverified Loans</a>
        </div>
        </div>
      </li>

      <!-- User's Cooperative investment list item -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>My Investments</span>
        </a>
        <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="javascript:{hide_my_stuff(0,0,1,0,0,0,0,0); my_investment_hide(1,0);}">Verified Investments</a>
            <a class="collapse-item" href="javascript:{hide_my_stuff(0,0,1,0,0,0,0,0); my_investment_hide(0,1);}">UnVerified Investments</a>
        </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
        Cooperative Menu
      </div>

 <!-- This list item opens the cooperative all members page -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all_members' coop.name 1 %}">
          <i class="fas fa-fw fa-folder"></i>
          <span>All Members </span><span>({{ coop.all_members.count }})</span>
        </a>
      </li>

        <!-- This list item opens the cooperative all documents page -->
        <li class="nav-item">
        <a class="nav-link" href="{% url 'all_documents' coop.id 1 %}">
          <i class="fas fa-fw fa-folder"></i>
          <span>All Documents </span><span>({{ coop.all_documents.count }})</span>
        </a>
      </li>

        <!-- This list item opens the cooperative all needs page -->
    <li class="nav-item">
            <a class="nav-link" href="{% url 'all_needs' coop.id 1 %}">
              <i class="fas fa-fw fa-folder"></i>
              <span>All Needs </span><span>({{ coop.all_needs.count }})</span>
            </a>
    </li>

        <!-- This list item opens the cooperative all loans page -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_loans' coop.id %}">
          <i class="fas fa-fw fa-folder"></i>
          <span>All Loans </span><span>({{ coop.all_loans.count }})</span>
        </a>
      </li>

        <!-- This list item opens the cooperative all investments page -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_investments' coop.id %}">
          <i class="fas fa-fw fa-folder"></i>
          <span>All Investments </span><span>({{ coop.all_investments.count }})</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">
    {% endif %}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          {% if user.is_cooperative_member %}
              <!-- This list item shows the notification for new cooperative investments made -->
            <li class="nav-item dropdown no-arrow mx-1" title="New Investments">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-donate fa-fw"></i>
                <!-- Counter - Alerts -->
              {% if coop.all_new_investments.count > 0 %}
              <span id="invest_count_display" class="badge badge-success badge-counter">
                  {{ coop.all_new_investments.count }}</span>
              {% endif %}
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              {% if coop.all_new_investments.count > 0 %}
              <h6 class="dropdown-header">
                  New Investments
                </h6>
                  {% for invest in coop.all_new_investments %}
                <a class="dropdown-item d-flex align-items-center" href="{% url 'investment_detail' coop.name invest.id %}">
                    <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div id="invest_{{ invest.id }}" class="font-weight-normal">
                    <div class="small text-gray-500">For {{ invest.need_detail }}</div>
                    <span>Investor: {{ invest.investor_detail.first_name }} {{ invest.investor_detail.last_name }}</span>
                      <span>Need: {{ invest.need_detail.title }}</span>
                  </div>
                </a>
                {% endfor %}
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'all_investments' coop.id %}">Show All</a>
              {% endif %}
              </div>
            </li>


              <!-- This List item shows the notification for new cooperative loan requests -->
            <li class="nav-item dropdown no-arrow mx-1" title="New Loans Request">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-money-check fa-fw"></i>
                <!-- Counter - Alerts -->
                    {% if coop.all_new_loans.count > 0 %}
                <span id="loan_count_display" class="badge badge-success badge-counter">{{ coop.all_new_loans.count }}</span>
                        {% endif %}
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              {% if coop.all_new_loans.count > 0 %}
              <h6 class="dropdown-header">
                  New Loans Requests
                </h6>
                  {% for loan in  coop.all_new_loans %}
                <a class="dropdown-item d-flex align-items-center" href="{% url 'loan_detail' coop.name loan.id %}">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div id="loan_{{ loan.id }}" class= font-weight-normal">
                    <div class="small text-gray-500">{{ loan.time_asked }}</div>
                    <span>Borrower: {{ loan.borrower_detail.first_name }} {{ loan.borrower_detail.last_name }}</span>
                  <span>Amount: N{{ loan.amount }}</span>
                  </div>
                </a>
                  {% endfor %}

                <a class="dropdown-item text-center small text-gray-500" href="{% url 'all_loans' coop.id %}">Show All</a>
              {% endif %}
              </div>
            </li>


              <!-- This List item shows the notitfication for new cooperative membership requests -->
            <li class="nav-item dropdown no-arrow mx-1" title="Membership Request">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-money-check fa-fw"></i>
                <!-- Counter - Alerts -->
                    {% if coop.membership_requests.count > 0 %}
                <span id="member_count_display" class="badge badge-success badge-counter">{{ coop.membership_requests.count }}</span>
                        {% endif %}
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              {% if coop.membership_requests.count > 0 %}
              <h6 class="dropdown-header">
                  New Membership request
                </h6>
                  {% for mem_request in  coop.membership_requests %}
                <a  id='notify_mem_st_{{ mem_request.id }}' class="dropdown-item d-flex align-items-center"
                    href="{% url 'membership_request_detail' coop.name mem_request.id %}">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <p id="mem_req_{{ mem_request.id }}" class="font-weight-normal">
                   {{ mem_request }}
                  </p>
                </a>
                  {% endfor %}
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'all_membership' coop.id 1 %}">Show All</a>
              {% endif %}
              </div>
            </li>


            <!-- This List item shows the notifications for new needs added to the cooperative needs -->
            <li class="nav-item dropdown no-arrow mx-1" title="Needs">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                  {% if member.needs_not_invested > 0 %}
            <span id='need_count_display' class="badge badge-success badge-counter">{{ member.needs_not_invested }}</span>
                      {% endif %}
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
              {% if coop.all_needs.count > 0 %}
              <h6 class="dropdown-header">
                  New Cooperative Needs
                </h6>
                  {% for need in coop.all_needs %}
                      {% if need in member.invested_needs %}
                      {% else %}
                          <a class="dropdown-item d-flex align-items-center" href="{% url 'need_detail' coop.name need.id %}">

                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div id="need_{{ need.id }}" class="font-weight-normal">
                    <div class="text">{{need.title }}</div>
                    <div class="small text">Payment Required: N{{ need.mandated_payment }}</div>
                  </div>
                </a>
                      {% endif %}

                  {% endfor %}
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'all_needs' coop.id 1 %}">show all</a>
              {% endif %}
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
          {% endif %}

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline font-weight-normal text-gray-600 small">Welcome {{ user.username}}</span>
                <img class="img-profile rounded-circle" src="{% if user.image.url != '/media/' %}{{ user.image.url }}{% else %}{% static 'seek/images/profile.png' %}{% endif %}" height="150" width="150" >
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile' user.id %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                  <a class="dropdown-item" href="{% url 'settings'%}">
                  <i class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}" >
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin user's profile  display-->
        <div class="container-fluid" id="my_profile">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
            <span id="edit_profile_btn" class="ml-auto"><a  onclick= "hide_my_stuff(1,0,0,0,0,1,0,0);"
                     class="d-sm-inline-block text-light btn btn-sm btn-secondary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Edit Profile</a></span>
          </div>
        <hr/>

          <!-- profile detail-->
          <div class="row">
              <div class="col-sm-4">
                   <img style="border-radius: 100%;
                             background-color: white;
                              width: 50%;"
                                 src="{% if user.image.url != '/media/' %}{{ user.image.url }}{% else %}{% static 'seek/images/profile.png' %}{% endif %}"
                                 class="img img-responsive img-circle p-3" width="300" height="200"
                                 />
              </div>
              <div class="col-sm-8">
                  <div class="mr-auto bg-light p-3">
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Name :</strong> {{user}}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Age :</strong> {{ user.user_age }} Years Old</p>
                      <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Marital Status :</strong> {{ user.marital_status }}</p>

                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Phone :</strong> {{ user.phone_no }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Email :</strong> {{ user.email }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Location :</strong> {{ user.location }}</p>
                      <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Residential Address :</strong> {{ user.address }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  style="color: #546c8a">Area of Interest :</strong> {{ user.specialization }}</p>
                     </div>
              </div>


          </div>
        {% if user.is_cooperative_member %}
          <div class="row" id="my_coop_detail">
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-dark">Cooperative Membership Information</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="bg-light p-3">
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  class="text-dark">
                        Cooperative Name :</strong> {{ member.cooperative.name }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  class="text-dark">Cooperative Specialization :</strong> {{ member.cooperative.Area_of_Specialization }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                        <strong  class="text-dark">Date of Admission: </strong> {{ member.date_of_admission }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                    <strong  class="text-dark">Role: </strong> {{ member.role }}</p>
                    <p class="text text-justify display-4" style="font-size: large">
                    <strong  class="text-dark">Bank: </strong> {{ member.user_detail.bank }}</p>
                   <p class="text text-justify display-4" style="font-size: large">
                    <strong  class="text-dark">Account Name: </strong> {{ member.user_detail.account_name }}</p>
                  <p class="text text-justify display-4" style="font-size: large">
                    <strong  class="text-dark">Account Number: </strong> {{ member.user_detail.account_number }}</p>

                    </div>
                </div>
                  </div>
                </div>
        </div>
        {% endif %}
        {% if user.is_partner %}
          <div class="row" id="part_detail">

            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-dark">Partner Information</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="bg-light p-3">
                        <p class="text text-justify display-4" style="font-size: large">
                            <strong  class="text-dark">Institution :</strong> {{ partner.institution }}</p>
                        <p class="text text-justify display-4" style="font-size: large">
                            <strong  class="text-dark">Position :</strong> {{ partner.position }}</p>
                        <p class="text text-justify display-4" style="font-size: large">
                            <strong  class="text-dark" >Website :</strong> {{ partner.website }}</p>
                        <p class="text text-justify display-4" style="font-size: large">
                            <strong  class="text-dark" >Biography :</strong> {{ partner.biography }}</p>
                    </div>
                </div>
                  </div>
                </div>
        </div>
        {% endif %}
        <div class="row" id="edit_profile">

            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header nav d-sm-flex align-items-center justify-content-between mb-4">
            <p class="h3 mb-2 text-gray-800">Edit Profile Information</p>
            <span id="back_btn" class="ml-auto"><a  onclick= "hide_my_stuff(1,0,0,0,0,0,1,1);"
                     class="d-sm-inline-block text-light btn btn-sm btn-secondary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Back</a></span>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                   <div class="col-sm-12">
                         <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row  form form-group">
                         <div class="col-md-12 pb-2">
                         <h4 class="text text-center ">Personal Information</h4>
                             <hr/>
                         </div>
                             <div class="col-md-12 pb-2">
                                        <input  placeholder="First Name" type="text" path="firstName" name="fn"
                                               value="{{ user.first_name }}"
                                                disabled
                                               class="form-control input-sm"/>
                                    </div>
                             <div class="col-md-12 pb-2">
                                        <input placeholder="Last Name" type="text" path="lastName" name="ln"
                                               value="{{ user.last_name }}"
                                               disabled
                                               class="form-control input-sm"/>
                                    </div>
                         <div class="col-md-12 pb-2">
                    <select class="form-control" name="marital" title="Marital Status">
                        <option selected value="{{ user.marital_status }}">{{ user.marital_status }}</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Divorced">Divorced</option>
                    </select>
                </div>
                            <div class="col-md-12 pb-2">
                                <input placeholder="Email" type="email" path="email" name="email" id="email"
                                       value="{{ user.email }}" required
                                       class="form-control input-sm"/>
                            </div>
                            <div class="col-md-12 pb-2">
                                <input placeholder="Phone Number" type="tel" name='phone' path="mobile" id="mobile"
                                       class="form-control input-sm"
                                       value="{{ user.phone_no }}"/>
                            </div>
                             <div class="col-md-12 pb-2">
                                 <select class="form-control" name="location" title="State of Residence">
                        <option selected value="{{ user.location }}">{{ user.location }}</option>
                        {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                        {% endfor %}
                    </select>
                            </div>
                        <div class="col-md-12 pb-2">
                                <input type="text" placeholder="Residential Address"  value="{{ user.address }}" name="address" class="form-control input-sm" required="required"/>
                        </div>

                         <div class="col-md-12 pb-2">
                            <input title="Profile Picture" type="file" name="profile_pic"
                                    class="form-control input-sm"/>
                        </div>
                       </div>
                          {% if user.is_partner %}
                         <hr/>
                         <div class="row form form-group">
                         <div class="col-md-12 pb-2">
                         <h4 class="text text-center">Partner Information</h4>
                             <hr/>
                         </div>
                              <div class="col-md-12 pb-2">
                                <input placeholder="Corporate Name" disabled
                                       type="text" path="corp" name="corp_name" value="{{ partner.institution }}" class="form-control input-sm"/>
                            </div>
                             <div class="col-md-12 pb-2">
                                <input placeholder="Website" type="url" path="web"  disabled
                                       name="web" value="{{ partner.website }}" class="form-control input-sm"/>
                            </div>
                             <div class="col-md-12 pb-2">
                                <input title="Icon" type="file" path="image" name="icon"
                                  class="form-control input-sm"/>
                            </div>
                            <div class="col-md-12 pb-2 sm_1">
                               <textarea class="text form-control "  rows="10" name="bio">{{ partner.biography }}</textarea>
                            </div>
                       </div>
                          {% endif %}
                          {% if user.is_cooperative_member %}
                         <hr/>
                         <div class="row form form-group">
                         <div class="col-md-12 pb-2">
                         <h4 class="text text-center">Cooperative Information</h4>
                             <hr/>
                         </div>

                            <div class="col-md-12 pb-2">
                                    <select class="form-control" name="bank">
                                        <option selected>{{ user.bank }}</option>
                                        {% for bank in banks %}
                                            <option>{{ bank }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                          <div class="col-md-12 pb-2">
                                    <input placeholder="Bank Account Name" type="text" name="acct_name"
                                           class="form-control input-sm"
                                           value="{{ user.account_name }}"/>
                            </div>
                            <div class="col-md-12 pb-2">
                                    <input placeholder="Bank Account Number" type="text" name="acct_num"
                                           class="form-control input-sm"
                                           value="{{ user.account_number }}"
                                     />
                            </div>
                         </div>
                          {% endif %}
                         <div class="row form form-group">
                         <div class="col-md-12 pb-2">
                            <input type="submit" value="Update"
                                   class=" btn btn-info btn-block">
                        </div>
                         </div>
                        </form>
                </div>
                  </div>
                </div>
        </div>
        <!-- /.container-fluid -->

      </div>
        </div>
      <!-- End of user's profile display-->

      <!-- Begin user's post display -->
        <div class="container-fluid" id="my_posts">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 id="123_title"  class="h3 mb-2 text-gray-800">My Posts</h1>
              <a href="{% url 'make_post' %}" class="d-sm-inline-block btn btn-sm btn-primary"><i class="fas fa-edit fa-sm text-white-50"></i>Add New Post</a>
          </div>
        <hr/>
          <!-- profile detail-->
          <div class="row" id="general_post_">
              <div class="col-sm-12">
                  <div class="container">
                  {% if user.is_partner and user.is_cooperative or user.is_partner %}
                        {% if partner.all_posts.count == 0 %}
                            <div class="container center-block col-sm-12">
           <h4 class="text text-center">You have not added any post yet</h4>
        </div>
                        {% else %}
                            {% for post in partner.all_posts %}
                                    <div class="row card border-bottom-warning shadow-3 rounded mb-2">
                                        <div class="col-sm-12">
                                            <div class="card-header">
                                                            <p class="text text-center">
                                                                <a class=" text text-center text-warning  display-4 font-italic card-link"
                                                                   style="color:#546c8a; font-size: xx-large"
                                                                   href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                                                <span class="ml-auto text-left text text-muted font-italic"> at {{ post.format_date }}</span></p>
                                            </div>
                                            <div class="col-sm-12 card-body">
                                                <p class="text text-justify">{{ post.post_summary }}...<a class="card-link" href="{% url 'post_detail' post.id %}">Read More</a></p>
                                            </div>
                                            </div>
                                     </div>
                            {% endfor %}
                        {% endif %}
                  {% else %}
                      {% if member.general_posts.count == 0 %}
                            <div class="container center-block col-sm-12">
           <h4 class="text text-center p-3 bg-white">You have not added any post yet</h4>
        </div>
                        {% else %}
                            {% for post in member.general_posts %}
                                 <div class="row card border-bottom-warning shadow-3 rounded mb-2">
                                        <div class="col-sm-12">
                                            <div class="card-header">
                                                            <p class="text text-center">
                                                                <a class=" text text-center text-warning  display-4 font-italic card-link"
                                                                   style="color:#546c8a; font-size: xx-large"
                                                                   href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                                                <span class="ml-auto text-left text text-muted font-italic"> at {{ post.format_date }}</span></p>
                                            </div>
                                            <div class="col-sm-12 card-body">
                                                <p class="text text-justify">{{ post.post_summary }}...<a class="card-link" href="{% url 'post_detail' post.id %}">Read More</a></p>
                                            </div>
                                            </div>
                                     </div>
                            {% endfor %}
                        {% endif %}
                  {% endif %}
	</div>
              </div>
          </div>

            <div class="row" id="coop_post_">
              <div class="col-sm-12">
                  <div class="container mb-5">
    {% if member.cooperative_posts.count == 0 %}
        <div class="container center-block col-sm-12">
            <h4 class="text text-center  p-3 bg-white">You Have no post yet</h4>
        </div>
    {% else %}
        {% for post in member.cooperative_posts %}
          <div class="row card border-bottom-info shadow-3 rounded mb-2">
                <div class="col-sm-12">
                    <div class="card-header">
                                    <p class="text text-center">
                                        <a class=" text text-center text-info  display-4 font-italic card-link"
                                           style="color:#546c8a; font-size: xx-large"
                                           href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                        <span class="ml-auto text-left text text-muted font-italic"> at {{ post.format_date }}</span></p>
                    </div>
                    <div class="col-sm-12 card-body">
                        <p class="text text-justify">{{ post.post_summary }}...<a class="card-link" href="{% url 'post_detail' post.id %}">Read More</a></p>
                    </div>
                    </div>
          </div>
        {% endfor %}
    {% endif %}
	</div>
              </div>
          </div>
          </div>
      <!-- End user's post display-->

      <!-- Begin user's cooperative post -->
        <div class="container-fluid" id="cooperative_post">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Cooperative Posts</h1>
          </div>
        <hr/>

          <!-- profile detail-->
          <div class="row">
              <div class="col-sm-12">
                  <div class="container mb-5">
    {% if coop.all_posts.count == 0 %}
        <div class="container center-block col-sm-12">
            <h4 class="text text-center p-3 bg-white">No Post Yet</h4>
        </div>
    {% else %}
        {% for post in coop.all_posts %}
          <div class="row card border-bottom-success shadow-3 rounded">
                <div class="col-sm-12">
                    <div class="card-header">
                                    <p class="text text-center">
                                        <a class=" text text-center text-success  display-4 font-italic card-link"
                                           style="color:#546c8a; font-size: xx-large"
                                           href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                        <span class="ml-auto text-left text text-muted font-italic"> by
                            <a href="{% url 'profile' post.author_detail.id %}" class="card-link">{{ post.author_detail.username }}</a> at {{ post.format_date }}</span></p>
                    </div>
                    <div class="col-sm-12 card-body">
                        <p class="text text-justify">{{ post.post_summary }}...<a class="card-link" href="{% url 'post_detail' post.id %}">Read More</a></p>
                    </div>
                    </div>
          </div>
        {% endfor %}
        {% if user.is_cooperative_member %}
            <div class="card-header bg-light mt-3 font-weight-normal text-center display-4" style="font-size: x-large"><a class="text-success" href="{% url 'all_coop_post' coop.id 1 %}">See more</a></div>
        {% endif %}
        {% endif %}
	</div>
              </div>
          </div>

      </div>
      <!-- End user's cooperative post -->

      <!-- Begin user's investment display -->
        <div class="container-fluid display-4" id="my_investments" style="font-size: medium">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 id="my_investment_title_" class="h3 mb-2 text-gray-800">My Investments</h1>
          </div>
        <hr/>

          <!-- profile detail-->
             <div id="verified_investments_" class="row">
              <div class="col-sm-12">
                  <div class="card shadow mb-4">
                      <div class="card-body">
                 {% if member.verified_investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Investment</th>
                                    <th rowspan="1" colspan="1">Need Invested for</th>
                                    <th rowspan="1" colspan="1">Bank</th>
                                    <th rowspan="1" colspan="1">Account Name</th>
                                    <th rowspan="1" colspan="1">Account Number</th>
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in member.verified_investments %}
                              <tr role="row" class="odd">
                                <td>N{{Investment.amount}}</td>
                                <td>{{ Investment.time }}</td>
                                <td>{{ Investment.need }}</td>
                                 <td>{{ Investment.investor_detail.bank }}</td>
                                <td>{{ Investment.investor_detail.account_name }}</td>
                                <td>{{ Investment.investor_detail.account_number }}</td>
                                <td><a href="{% url 'investment_detail' coop.name Investment.id %}">Click here for full details</a></td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">You do not have any verified investment</h4>
                        {% endif %}
                    </div>
                    </div>
              </div>
          </div>
             <div id="unverified_investments_" class="row">
              <div class="col-sm-12">
                  <div class="card shadow mb-4">
                      <div class="card-body">
                 {% if member.unverified_investments.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Investment</th>
                                    <th rowspan="1" colspan="1">Need Invested for</th>
                                    <th rowspan="1" colspan="1">Bank</th>
                                    <th rowspan="1" colspan="1">Account Name</th>
                                    <th rowspan="1" colspan="1">Account Number</th>
                                    <th rowspan="1" colspan="1">Status</th>
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for Investment in member.unverified_investments %}
                              <tr role="row" class="odd">
                                <td>N{{Investment.amount}}</td>
                                <td>{{ Investment.time }}</td>
                                <td>{{ Investment.need }}</td>
                                <td>{{ Investment.investor_detail.bank }}</td>
                                <td>{{ Investment.investor_detail.account_name }}</td>
                                <td>{{ Investment.investor_detail.account_number }}</td>
                                <td><strong>{% if Investment.verified == False %}<span class="text-danger">Declined</span>
                                    {% elif Investment.verified == True %}<span class="text-success">Verified</span>{% else %}
                                        <span class="text-info">Not Checked yet</span>{% endif %}</strong></td>
                                <td><a href="{% url 'investment_detail' coop.name Investment.id %}">Click here for full details</a></td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">You do not have any unverified investment</h4>
                        {% endif %}
                    </div>
                    </div>
              </div>
          </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End user's investment display -->

      <!-- Begin user's loans display -->
        <div class="container-fluid display-4" id="my_loans" style="font-size: medium">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 id="my_loan_title_" class="h3 mb-2 text-gray-800">My Loans</h1>
            <a href="{% url 'add_loan' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Request Loan</a>
          </div>
        <hr/>

          <!-- profile detail-->
          <div id="paid_loans_" class="row">
              <div class="col-sm-12">
                  <div class="card shadow mb-4">
                      <div class="card-body">
                 {% if member.paid_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%;">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    <th rowspan="1" colspan="1">Bank</th>
                                    <th rowspan="1" colspan="1">Account Name</th>
                                    <th rowspan="1" colspan="1">Account Number</th>
                                    <th rowspan="1" colspan="1">Link</th>

                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in member.paid_loans %}
                              <tr role="row" class="odd">
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                <td>{{ loan.borrower_detail.bank }}</td>
                                <td>{{ loan.borrower_detail.account_name }}</td>
                                <td>{{ loan.borrower_detail.account_number }}</td>
                                <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">You have no paid loans</h4>
                        {% endif %}
                    </div>
                  </div>
              </div>
          </div>
            <div id="unpaid_loans_">
              <div class="col-sm-12">
                  <div class="card shadow mb-4">
                      <div class="card-body">
                 {% if member.unpaid_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    <th rowspan="1" colspan="1">Time of Expected Payment</th>
                                    <th rowspan="1" colspan="1">Bank</th>
                                    <th rowspan="1" colspan="1">Account Name</th>
                                    <th rowspan="1" colspan="1">Account Number</th>
                                    <th rowspan="1" colspan="1">Link</th>
                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in member.unpaid_loans %}
                              <tr role="row" class="odd">
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                 <td>{{ loan.time_to_pay }}</td>
                                <td>{{ loan.borrower_detail.bank }}</td>
                                <td>{{ loan.borrower_detail.account_name }}</td>
                                <td>{{ loan.borrower_detail.account_number }}</td>
                                <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">You have no unpaid loan</h4>
                        {% endif %}
                    </div>
                    </div>
              </div>
          </div>
            <div id="unverified_loans_">
              <div class="col-sm-12">
                  <div class="card shadow mb-4">
                      <div class="card-body">
                 {% if member.unverified_loans.count > 0 %}
                          <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%; font-size: large">

                             <thead class="bg-white">
                                <tr>
                                    <th rowspan="1" colspan="1">Amount</th>
                                    <th rowspan="1" colspan="1">Time of Request</th>
                                    <th rowspan="1" colspan="1">Bank</th>
                                    <th rowspan="1" colspan="1">Account Name</th>
                                    <th rowspan="1" colspan="1">Account Number</th>
                                    <th rowspan="1" colspan="1">Status</th>
                                    <th rowspan="1" colspan="1">Link</th>
                                    </tr>
                              </thead>
                              <tbody>
                              {% for loan in member.unverified_loans %}
                              <tr role="row" class="odd">
                                <td>N{{loan.amount}}</td>
                                <td>{{ loan.time_asked }}</td>
                                <td>{{ loan.borrower_detail.bank }}</td>
                                <td>{{ loan.borrower_detail.account_name }}</td>
                                <td>{{ loan.borrower_detail.account_number }}</td>
                                  <td><strong>{% if loan.status == 'N' %}<span class="text text-info">Not Checked yet</span>{% elif loan.staus == 'D' %}<span class="text text-danger">Declined</span>{% endif %}</strong></td>

                                <td><a href="{% url 'loan_detail' coop.name loan.id %}">Click here for full details</a></td>
                                 </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        {% else %}
                            <h4 class="text text-center">You have no unverified loan</h4>
                        {% endif %}
                    </div>
                    </div>
              </div>
          </div>

      </div>
      <!-- End user's loans display-->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'sb/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sb/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'sb/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'sb/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'sb/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'sb/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'sb/js/demo/chart-pie-demo.js' %}"></script>
  </div>
</main>
{% endblock main %}

