{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Forgot Password{% endblock title %}
{% block error %}{{ message }}{% endblock %}
 {% block status %}{{ status }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 jumbotron">
                   <div class="container bg-light p-2 mb-2">
                   <h2 class="text text-center">Password Recovery</h2>
                   </div>
{#        this form is to request to reset your password#}
                        <form action="{% url 'forgotPassword' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form-group m-1 mb-2">
                            <input type="email"  placeholder="Enter Your Email" name="email"
                                   oninput="check_email_password(this.value)" class="form-control input-sm" required/>
                            <small id="forgot_email_small"></small>
                        </div>
                            <div class="row form-group m-1 mb-2">
                            <input id="forgot_submit" type="submit" value="Submit" style=" background:cornflowerblue;" class="btn btn btn-lg btn-block">
                        </div>

            </form>
                       </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}


{% block footer %}fixed-bottom{% endblock %}
