{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}
{% block main %}
    {% if message %}
        <div class="col-12 alert alert-info text-center" role="alert">
            <h5 class="pt-3">{{ message }}</h5>
        </div>
    {% endif %}
<div class="banner_1">
	<div class="container">
		<div id="search_wrapper1">
		</div>
   </div>
</div>
<div class="container">
	 <div class="single">
         <div class="col-md-12">
             {% for post in posts %}
                  <div class="col_1">
                        <div class="col-sm-4 row_2">
                            <a href="{% url 'post_detail'%}"><img src="{% url '{{ post.image.url }}'%}" class="img-responsive" alt=""/></a>
                        </div>
                        <div class="col-sm-12 row_1">
                            <h4><a href="{% url 'post_detail' post.id %}">{{ post.title}}</a></h4>
                            <h6>SIt is a long <span class="dot">·</span> {{ post.title }}</h6>
                            <p>{{ post.content }}</p>
                            <div class="social">
                                <a class="btn_1" href="#">
                                    <i class="fa fa-facebook fb"></i>
                                    <span class="share1 fb">Share</span>
                                </a>
                                <a class="btn_1" href="#">
                                    <i class="fa fa-twitter tw"></i>
                                    <span class="share1">Tweet</span>
                                </a>
                                <a class="btn_1" href="#">
                                    <i class="fa fa-google-plus google"></i>
                                    <span class="share1 google">Share</span>
                                </a>
                           </div>
                        </div>
                        <div class="clearfix"> </div>
		            </div>
            {% endfor %}
			<div class="clearfix"> </div>
		   </div>
	   </div>
	   <div class="clearfix"> </div>
	 </div>
    <div class="grid_1">
	 <h3>Our Partners</h3>
	   <ul id="flexiselDemo3">
           {% for partner in partners %}
	      <li><img href= "{% url 'partner_detail'  partner.id %}" src="{% url '{{ partner.image.url }}'%}" class="img-responsive" /></li>
           {% endfor %}
	    </ul>
	    <script type="text/javascript">
		 $(window).load(function() {
			$("#flexiselDemo3").flexisel({
				visibleItems: 6,
				animationSpeed: 1000,
				autoPlay:false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: {
		    		portrait: {
		    			changePoint:480,
		    			visibleItems: 1
		    		},
		    		landscape: {
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: {
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });

		});
	   </script>
	   <script type="text/javascript" src="{% static '/seek/js/jquery.flexisel.js'%}"></script>
	 </div>
</div>
{% endblock main %}