{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Login/Register{% endblock title %}
{% block error %}{{ message }}{% endblock %}
 {% block status %}{{ status }}{% endblock %}

{% block main %}
<div class="p-4">
    <div class="single">
	   <div class=" row form-container">
{#       This section is the Log In Section #}
           <div class="col-sm-2">
           </div>

{#       This section is the sign up section  #}
           <div class="col-sm-8 jumbotron">
           <div class="container bg-light p-2 mb-2">
           <h2 class="text text-center text-warning">Register Now</h2>
           </div>
                <form action="{% url 'sign_up' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row form-group m-1 mb-2">
                    <input type="text" placeholder="First Name" minlength="3" name="fn" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text" placeholder="Last Name" path="lastName" minlength="3" name="ln" class="form-control input-sm" required="required"/>

                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text" oninput="check_username(this.value)" placeholder="Username" path="username" id="username" name= "username" class="form-control input-sm" required="required"/>
                    <small id="signup_username_small"></small>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input oninput="check_age(this.value)" id="dob" maxlength="10" type="date" name="dob" class="form-control input-sm" required="required" title="Date of Birth"/>
                    <small id="signup_date_small"></small>
                </div>
                <div class="row form-group m-1 mb-2">
                    <div class="radio">
				        <label for="radio-01" class="label_radio">
				            <input  type="radio" name="gender" checked value="Male"> Male
				        </label>
				        <label for="radio-02" class="label_radio">
				            <input  type="radio" name="gender" value="Female"> Female
				        </label>
	                </div>
                </div>
                <div class="row form-group m-1 mb-2">
                    <select class="form-control" name="marital" title="Marital Status">
                        <option selected value="">Select Marital Status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Divorced">Divorced</option>
                    </select>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="email" oninput="check_email(this.value)" placeholder="Email Address"  name="email" class="form-control input-sm" required="required"/>
                    <small id="signup_email_small"></small>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="tel" pattern="[0-9]+" placeholder="Phone Number"  maxlength=15 name="phone" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <select class="form-control" name="location" title="State of Residence">
                        <option selected value="">Select State of Residence</option>
                        {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text" placeholder="Residential Address" minlength="10" name="address" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input list="specializations" class="form-control" name="spec" placeholder="Area of Specialization" required title="Area Of Specialization"/>
                        <datalist id="specializations">
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                        </datalist>

                </div>
                <div class="row form-group m-1 mb-2">
                    <select class="form-control" name="bank" title="Bank">
                        <option selected value="">Select Bank</option>
                        {% for bank in banks %}
                            <option value="{{ bank }}">{{ bank }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text"  placeholder="Bank Account Name" name="acct_name" class="form-control input-sm" />
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text"  placeholder="Bank Account Number" name="acct_num" class="form-control input-sm" />
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="password" placeholder="Enter Password" id="password" minlength="8" name="pass1" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input oninput="check_password(this.value)" type="password" placeholder="Re-Enter Password"  id="password2" name="pass2" class="form-control input-sm " required="required"/>
                    <small id="signup_password_small"></small>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="submit"  id="submit" value="Register" class="btn btn btn-success btn-lg btn-block">
                </div>

    </form>
               </div>
       <div class="col-sm-2">
           </div>

    </div>
 </div>
</div>
<br>
{% endblock main %}
