{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Login/Register{% endblock title %}
{% block error %}{{ message }}{% endblock %}
 {% block status %}{{ status }}{% endblock %}

{% block main %}
<div class="p-4">
    <div class="single">
	   <div class=" row form-container">
           <div class="col-md-5">
               <div class="login-content jumbotron">
                    <form action="{% url 'login' %}" method="post" >
                        {% csrf_token %}
                        <div class="container bg-light p-2 mb-2">
                            <h3 class="text-center">Log In </h3>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group mb-2">
                                <span class="input-group-prepend  mr-2 mt-2"><i class="fa fa-user"></i></span>
                                <input type="text" required="required"  name="username2" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group mb-2">
                                <span class="input-group-prepend mr-2 mt-2 "><i class="fa fa-key"></i></span>
                                <input type="password" required="required" name="password" class="form-control " placeholder="Password">
                            </div>
                        </div>
                     <div class="forgot">
						 <div class="login-check">
				 			<label class="checkbox1"><input type="checkbox" name="checkbox" checked="" class=""><i> </i>Remember Me</label>
				         </div>
				 		  <div class="login-para">
				 			<p><a href="#"> Forgot Password? </a></p>
				 		 </div>
					     <div class="clearfix"> </div>
			        </div>
					<div class="row form-group m-1 mb-2">
                    <input type="submit" value="Log In" style=" background:cornflowerblue;"class="btn ">
                </div>
                    </form>
					 </div>
           </div>
           <div class="col-md-7 jumbotron">
           <div class="container bg-light p-2 mb-2">
           <h2 class="text text-center">Register Now</h2>
           </div>
                <form action="{% url 'sign_up' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row form-group m-1 mb-2">
                    <input type="text" placeholder="First Name" name="fn" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text" placeholder="Last Name" path="lastName" name="ln" class="form-control input-sm" required="required"/>

                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text" placeholder="Username" path="username" id="username" name= "username" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="date"  name="dob" class="form-control input-sm" required="required" title="Date of Birth"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <div class="radio">
				        <label for="radio-01" class="label_radio">
				            <input  type="radio" name="gender" checked value="M"> Male
				        </label>
				        <label for="radio-02" class="label_radio">
				            <input  type="radio" name="gender" value="F"> Female
				        </label>
	                </div>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="email" placeholder="Email Address" path="email" name="email" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="tel" placeholder="Phone Number" path="mobile" name="phone" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <select class="form-control" name="location" title="State of Residence">
                        <option selected value="">Select State of Residence</option>
                        {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="row form-group m-1 mb-2">
                    <select class="form-control" name="spec" title="Area Of Specialization">
                        <option selected value="">Select Area Of Specialization</option>
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="row form-group m-1 mb-2">
                    <select class="form-control" name="bank" title="Bank">
                        <option selected value="">Select Bank</option>
                        {% for bank in banks %}
                            <option value="{{ bank }}">{{ bank }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text"  placeholder="Bank Account Name" name="acct_name" class="form-control input-sm" />
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="text"  placeholder="Bank Account Number" name="acct_num" class="form-control input-sm" />
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="password" placeholder="Password" path="password" name="pass1" class="form-control input-sm" required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="password" placeholder="Re-Enter Password" path="password" name="pass2" class="form-control input-sm " required="required"/>
                </div>
                <div class="row form-group m-1 mb-2">
                    <input type="submit" value="Register" style=" background:cornflowerblue;"class="btn btn btn-lg btn-block">
                </div>

    </form>
               </div>
    </div>
 </div>
</div>
<br>
{% endblock main %}
