{%extends 'index.html' %}
{% load staticfiles %}
{% block title %}Be a Customer{% endblock title %}
{% block main %}
<div class="container">
    <div class="single">
	   <div class="form-container">
        <h2>Register Form</h2>
           <div class="col-md-2"></div>
           <div class="col-md-8">
                <form>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">First Name</label>
                <div class="col-md-9">
                    <input type="text" path="firstName" name="fn" class="form-control input-sm" required="required"/>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Last Name</label>
                <div class="col-md-9">
                    <input type="text" path="lastName" name="ln" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Username</label>
                <div class="col-md-9">
                    <input type="text" path="username" id="username" name= "username" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="email">Email</label>
                <div class="col-md-9">
                    <input type="email" path="email" id="email" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="mobile">Mobile Number</label>
                <div class="col-md-9">
                    <input type="tel" path="mobile" id="mobile" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="country">Country</label>
                <div class="col-md-9">
                    <select path="country" id="country" class="form-control input-sm">
                        <option value="">Select Country</option>
                        <option value="">Japan</option>
                        <option value="">Kenya</option>
                        <option value="">Dubai</option>
                        <option value="">Italy</option>
                        <option value="">Greece</option>
                        <option value="">Iceland</option>
                        <option value="">China</option>
                        <option value="">Doha</option>
                        <option value="">Irland</option>
                        <option value="">Srilanka</option>
                        <option value="">Russia</option>
                        <option value="">Hong Kong</option>
                        <option value="">Germany</option>
                        <option value="">Canada</option>
                        <option value="">Mexico</option>
                        <option value="">Nepal</option>
                        <option value="">Norway</option>
                        <option value="">Oman</option>
                        <option value="">Pakistan</option>
                        <option value="">Kuwait</option>
                        <option value="">Indonesia</option>
                        <option value="">Spain</option>
                        <option value="">Thailand</option>
                        <option value="">Saudi Arabia</option>
                        <option value="">Poland</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="mobile">Profile Picture</label>
                <div class="col-md-9">
                    <input type="file" path="image" name="image" class="form-control input-sm"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="mobile">Password</label>
                <div class="col-md-9">
                    <input type="password" path="password" name="pass1" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="mobile">Re-Type Password</label>
                <div class="col-md-9">
                    <input type="password" path="password" name="pass2" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Register" class="btn btn-warning btn-lg">
            </div>
        </div>
    </form>
               </div>
           <div class="col-md-2"></div>
    </div>
 </div>
</div>
<br>
{% endblock main %}
