<!DOCTYPE HTML>
<html>
    {% load staticfiles %}
<head>
    <title>AgroCoop - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Seeking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="{% static '/Boot/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'sb/vendor/fontawesome-free/css/all.css'  %}" rel="stylesheet">
    <script src="{% static '/seek/js/jquery.min.js' %}"></script>
    <script src="{% static '/Boot/js/bootstrap.min.js' %}"></script>
{% block javascript %}{% endblock javascript %}
    <!-- Custom Theme files -->
{#        <link href="{% static '/seek/css/style.css' %}" rel='stylesheet' type='text/css'/>#}
    <link href="{% static '/Boot/navbar.css' %}" rel='stylesheet' type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <!----font-Awesome----->
    <link href="{% static '/seek/css/font-awesome.css' %}" rel="stylesheet">
    <!----font-Awesome----->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-secondary">
      <a href="{% url 'home' %}" class="logo mt-0 navbar-brand"><b style="color: #2acd0e; font-size: larger" >
          Agro<span style="color: #f1ac17">Coop<span style="color: #fdffee">Naija</span></span></b></a>
      <button class="navbar-toggler" style="border-color: #f1ac17" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav ml-auto text-white">
            <li class="nav-item"><a class="nav-link" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a></li>         <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cooperatives</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="{% url 'all_cooperatives' %}">All Cooperatives</a>
                  <a class="dropdown-item" href="{% url 'create_coop' %}">Register Your Cooperative</a>
                </div>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partners</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'all_partners' %}">All Partners</a>
                  <a class="dropdown-item" href="{% url 'be_partner' %}">Be a Partner</a>
                </div>
          </li>
            {% if not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Log in<span class="sr-only">(current)</span></a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About<span class="sr-only">(current)</span></a></li>
                {% if user.is_authenticated %}
                     <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a></li>
                   <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Log Out<span class="sr-only">(current)</span></a></li>
                {% endif %}
        </ul>
      </div>
    </nav>
<div class="p-3 mt-5">
<div class="alert alert-{% block status %}{% endblock status %}" role="alert">
    <h6 class="text text-center">{% block error %}{% endblock %}</h6>
</div>
{% block main %}{% endblock main %}
</div>
<div class="footer bg-secondary p-3 mt-3">
            <p class="text text-light text-center">Copyright © 2019 AgroCoopNaija . All Rights Reserved . Designed by <a style="color: #f1ac17" href="http://w3layouts.com/"
                                                                             target="_blank">Louis Ohaegbu</a></p>
</div>
</body>
</html>	