<!DOCTYPE HTML>
<html>
    {% load staticfiles %}
<head>
    <title>AgroCoop - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Seeking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{% static '/seek/css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/seek/js/jquery.min.js' %}"></script>
    <script src="{% static '/seek/js/bootstrap.min.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
    <!-- Custom Theme files -->
    <link href="{% static '/seek/css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <!----font-Awesome----->
    <link href="{% static '/seek/css/font-awesome.css' %}" rel="stylesheet">
    <!----font-Awesome----->
</head>
<body>
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="logo mt-0"><b>Agro<span>Coop</span></b></a>
        </div>
        <!--/.navbar-header-->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cooperatives<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'all_cooperatives' %}">All Cooperatives</a></li>
                        <li><a href="{% url 'create_coop' %}">Register Your Cooperative</a></li>
                        {% if user.is_authenticated and user.is_cooperative_member %}
                        <li><a href="{% url 'dashboard_coop' %}">Dashboard</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'all_partners' %}">All Partners</a></li>
                        {% if user.is_authenticated and user.is_partner %}
                        <li><a href="{% url 'dashboard_partner' %}">Dashboard</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'login'%}">Log in</a></li>
                <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout'%}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--/.navbar-collapse-->
</nav>
<div class="container">
<div class="alert alert-{% block status %}{% endblock %}" role="alert">
    {% block error %}{% endblock %}
</div>
{% block main %}{% endblock main %}
</div>
<div class="footer_bottom">
    <div class="container">
        <div class="col-sm-12 footer_text">
            <p class=" text text-center">"Market data provided by Barchart Solutions.
Information is provided 'as is' and solely for informational purposes, not for trading purposes or advice, and is delayed per exchange requirements."</p>
        </div>
        <div class="clearfix"></div>
        <div class="copy">
            <p>Copyright © 2015 Seeking . All Rights Reserved . Design by <a href="http://w3layouts.com/"
                                                                             target="_blank">W3layouts</a></p>
        </div>
    </div>
</div>
</body>
</html>	